[2016-01-27 21:55] ayaleloehr opened #3 "3.2 Job Search: Advanced"
<a href="https://github.com/raineystraus"><img src="https://avatars.githubusercontent.com/u/12912946?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [raineystraus](https://github.com/raineystraus)**
_Thursday Oct 22, 2015 at 17:45 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/243_

--

[2016-01-27 21:55] ayaleloehr commented on #3
<a href="https://github.com/rereboom"><img src="https://avatars.githubusercontent.com/u/13142531?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rereboom](https://github.com/rereboom)**
_Thursday Oct 22, 2015 at 21:55 GMT_

----

The primary difference with the current search is we are making the search inputs and results to a dedicated page, it no longer is stuck in

[2016-01-27 21:55] ayaleloehr opened #4 "4.4.1 Create/View Employer info"
<a href="https://github.com/raineystraus"><img src="https://avatars.githubusercontent.com/u/12912946?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [raineystraus](https://github.com/raineystraus)**
_Thursday Oct 22, 2015 at 18:07 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/251_

--

[2016-01-27 21:55] ayaleloehr commented on #4
<a href="https://github.com/rereboom"><img src="https://avatars.githubusercontent.com/u/13142531?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rereboom](https://github.com/rereboom)**
_Thursday Oct 22, 2015 at 22:07 GMT_

----

I have split "Employer Info" from "make a commitment info" (4.4.2) into two different forms. If this poses back end problems, ignore and kee

[2016-01-27 21:55] ayaleloehr opened #5 "4.4.2 View Employer Commitments/ Make a Commitment"
<a href="https://github.com/raineystraus"><img src="https://avatars.githubusercontent.com/u/12912946?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [raineystraus](https://github.com/raineystraus)**
_Thursday Oct 22, 2015 at 18:10 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/252_

--

[2016-01-27 21:55] ayaleloehr commented on #5
<a href="https://github.com/rereboom"><img src="https://avatars.githubusercontent.com/u/13142531?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rereboom](https://github.com/rereboom)**
_Tuesday Oct 27, 2015 at 22:31 GMT_

----

I have split "Employer Info" (4.4.1) from "make a commitment info"  into two different forms. If this poses back end problems, ignore and kee

[2016-01-27 21:55] ayaleloehr opened #6 "3.7 Help"
<a href="https://github.com/rereboom"><img src="https://avatars.githubusercontent.com/u/13142531?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [rereboom](https://github.com/rereboom)**
_Thursday Oct 22, 2015 at 22:15 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/257_

----

VEC page

[2016-01-27 21:55] ayaleloehr opened #7 "Format Favorite Veteran page into list view"
<a href="https://github.com/rereboom"><img src="https://avatars.githubusercontent.com/u/13142531?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [rereboom](https://github.com/rereboom)**
_Thursday Oct 22, 2015 at 22:20 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/259_

----

VEC page

[2016-01-27 21:55] ayaleloehr commented on #7
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emilyville](https://github.com/emilyville)**
_Tuesday Dec 22, 2015 at 05:46 GMT_

----

Adding some screenshots

Current:
![screen shot 2015-12-21 at 9 43 48 pm](https://cloud.githubusercontent.com/assets/1307774/11948722/fd

[2016-01-27 21:55] ayaleloehr opened #8 "4.6 Help"
<a href="https://github.com/rereboom"><img src="https://avatars.githubusercontent.com/u/13142531?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [rereboom](https://github.com/rereboom)**
_Thursday Oct 22, 2015 at 22:22 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/262_

----

Content

[2016-01-27 21:55] ayaleloehr opened #9 "User should see different page title on veterans#show based on their role"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Wednesday Nov 04, 2015 at 00:47 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/269_

---

[2016-01-27 21:55] ayaleloehr opened #10 "Only approved employers appear in public commitments"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Wednesday Nov 04, 2015 at 01:03 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/270_

---

[2016-01-27 21:55] ayaleloehr commented on #10
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Sunday Jan 03, 2016 at 03:47 GMT_

----

Note to self:

def employer_pool
  add where(:approved => true)
end

tests: not-approved employer does not appear in CSV, commitment

[2016-01-27 21:55] ayaleloehr opened #11 "Fix apple-touch-icon error"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Wednesday Nov 04, 2015 at 01:06 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/272_

---

[2016-01-27 21:55] ayaleloehr opened #12 "Veteran can download an attractive docx resume"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Wednesday Nov 04, 2015 at 01:10 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/273_

---

[2016-01-27 21:55] ayaleloehr commented on #12
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emilyville](https://github.com/emilyville)**
_Wednesday Jan 20, 2016 at 16:13 GMT_

----

waiting on some code from @MarinaMartin

[2016-01-27 21:55] ayaleloehr opened #13 "Post Jobs page follows instructional design pattern"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Wednesday Nov 04, 2015 at 02:06 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/275_

---

[2016-01-27 21:55] ayaleloehr opened #14 "Visitor sees consistent Related Info descriptions"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Sunday Nov 08, 2015 at 17:49 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/282_

----

[2016-01-27 21:55] ayaleloehr commented on #14
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emilyville](https://github.com/emilyville)**
_Wednesday Dec 09, 2015 at 02:17 GMT_

----

Could you say more?  I am not sure I understand what this is referring to.

Assigning to you for more information!

[2016-01-27 21:55] ayaleloehr commented on #14
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Tuesday Dec 22, 2015 at 03:06 GMT_

----

More: The same links appear in multiple "Related Info" sections but with different descriptive text. This should be standardized.

[2016-01-27 21:55] ayaleloehr opened #15 "Greg and Marina get notified if VEC experiences an error"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Sunday Nov 08, 2015 at 20:55 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/286_

----

[2016-01-27 21:55] ayaleloehr commented on #15
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Sunday Nov 08, 2015 at 20:56 GMT_

----

Shawn is setting this up.

[2016-01-27 21:55] ayaleloehr commented on #15
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Thursday Dec 10, 2015 at 20:05 GMT_

----

This is dependent on #400

[2016-01-27 21:55] ayaleloehr commented on #15
<a href="https://github.com/greggersh"><img src="https://avatars.githubusercontent.com/u/41960?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [greggersh](https://github.com/greggersh)**
_Tuesday Dec 22, 2015 at 15:38 GMT_

----

Is New Relic alerting sufficient? We have CloudWatch, etc. on the AWS side set up.

[2016-01-27 21:56] ayaleloehr commented on #15
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Wednesday Dec 23, 2015 at 00:37 GMT_

----

@greggersh New Relic alerting is sufficient. If I should get CloudWatch updates... I do not.

[2016-01-27 21:56] ayaleloehr commented on #15
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emilyville](https://github.com/emilyville)**
_Wednesday Jan 20, 2016 at 16:15 GMT_

----

Assigning to Alex since Greg is elsewhere at the moment.

[2016-01-27 21:56] ayaleloehr opened #16 "Show n entries should appear on 1 line, not 3"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Monday Nov 09, 2015 at 04:17 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/288_

----

[2016-01-27 21:56] ayaleloehr commented on #16
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Monday Nov 09, 2015 at 04:18 GMT_

----

![image](https://cloud.githubusercontent.com/assets/489465/11025849/0063702c-866f-11e5-94db-8bae2ca62e27.png)

This is a dataTable f

[2016-01-27 21:56] ayaleloehr opened #17 "Hard to see resume form errors"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Monday Nov 09, 2015 at 07:28 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/289_

----

[2016-01-27 21:56] ayaleloehr opened #18 "LinkedIn buttons should have LinkedIn mini logo"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Monday Nov 09, 2015 at 07:29 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/290_

----

[2016-01-27 21:56] ayaleloehr opened #19 "redirect 404 to https://staging.vets.gov/404.html"
<a href="https://github.com/llimllib"><img src="https://avatars.githubusercontent.com/u/7150?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [llimllib](https://github.com/llimllib)**
_Monday Nov 09, 2015 at 18:53 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/295_

----

It appears tha

[2016-01-27 21:56] ayaleloehr commented on #19
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Thursday Dec 10, 2015 at 20:06 GMT_

----

This seems to be done? @llimllib

[2016-01-27 21:56] ayaleloehr commented on #19
<a href="https://github.com/llimllib"><img src="https://avatars.githubusercontent.com/u/7150?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [llimllib](https://github.com/llimllib)**
_Thursday Dec 10, 2015 at 21:52 GMT_

----

Nope, ex: https://staging.vets.gov/veterans-employment-center/doesntoexist.html doesn't point to https://www.vets.gov/404.html

[2016-01-27 21:56] ayaleloehr opened #20 ""Please specify Sharethis publisher key info" message emitted in debug console"
<a href="https://github.com/jjtswan"><img src="https://avatars.githubusercontent.com/u/12799486?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jjtswan](https://github.com/jjtswan)**
_Tuesday Nov 10, 2015 at 02:21 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/299_

----

OSX Chrome

[2016-01-27 21:56] ayaleloehr opened #21 "Make search (button) + clear search (link) common pattern"
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [emilyville](https://github.com/emilyville)**
_Tuesday Nov 10, 2015 at 02:40 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/300_

----

it's

[2016-01-27 21:56] ayaleloehr opened #22 "Make login/signup UI pattern consistent"
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [emilyville](https://github.com/emilyville)**
_Tuesday Nov 10, 2015 at 02:43 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/301_

----

Empl

[2016-01-27 21:57] ayaleloehr opened #23 "3.2 Job Search: Advanced"
<a href="https://github.com/raineystraus"><img src="https://avatars.githubusercontent.com/u/12912946?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [raineystraus](https://github.com/raineystraus)**
_Thursday Oct 22, 2015 at 17:45 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/243_

--

[2016-01-27 21:57] ayaleloehr commented on #23
<a href="https://github.com/rereboom"><img src="https://avatars.githubusercontent.com/u/13142531?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rereboom](https://github.com/rereboom)**
_Thursday Oct 22, 2015 at 21:55 GMT_

----

The primary difference with the current search is we are making the search inputs and results to a dedicated page, it no longer is stuck in

[2016-01-27 21:57] ayaleloehr opened #24 "4.4.1 Create/View Employer info"
<a href="https://github.com/raineystraus"><img src="https://avatars.githubusercontent.com/u/12912946?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [raineystraus](https://github.com/raineystraus)**
_Thursday Oct 22, 2015 at 18:07 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/251_

--

[2016-01-27 21:57] ayaleloehr commented on #24
<a href="https://github.com/rereboom"><img src="https://avatars.githubusercontent.com/u/13142531?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rereboom](https://github.com/rereboom)**
_Thursday Oct 22, 2015 at 22:07 GMT_

----

I have split "Employer Info" from "make a commitment info" (4.4.2) into two different forms. If this poses back end problems, ignore and kee

[2016-01-27 21:57] ayaleloehr opened #25 "4.4.2 View Employer Commitments/ Make a Commitment"
<a href="https://github.com/raineystraus"><img src="https://avatars.githubusercontent.com/u/12912946?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [raineystraus](https://github.com/raineystraus)**
_Thursday Oct 22, 2015 at 18:10 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/252_

--

[2016-01-27 21:57] ayaleloehr commented on #25
<a href="https://github.com/rereboom"><img src="https://avatars.githubusercontent.com/u/13142531?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rereboom](https://github.com/rereboom)**
_Tuesday Oct 27, 2015 at 22:31 GMT_

----

I have split "Employer Info" (4.4.1) from "make a commitment info"  into two different forms. If this poses back end problems, ignore and kee

[2016-01-27 21:57] ayaleloehr opened #26 "3.7 Help"
<a href="https://github.com/rereboom"><img src="https://avatars.githubusercontent.com/u/13142531?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [rereboom](https://github.com/rereboom)**
_Thursday Oct 22, 2015 at 22:15 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/257_

----

VEC page

[2016-01-27 21:57] ayaleloehr opened #27 "Format Favorite Veteran page into list view"
<a href="https://github.com/rereboom"><img src="https://avatars.githubusercontent.com/u/13142531?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [rereboom](https://github.com/rereboom)**
_Thursday Oct 22, 2015 at 22:20 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/259_

----

VEC page

[2016-01-27 21:57] ayaleloehr commented on #27
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emilyville](https://github.com/emilyville)**
_Tuesday Dec 22, 2015 at 05:46 GMT_

----

Adding some screenshots

Current:
![screen shot 2015-12-21 at 9 43 48 pm](https://cloud.githubusercontent.com/assets/1307774/11948722/fd

[2016-01-27 21:57] ayaleloehr opened #28 "4.6 Help"
<a href="https://github.com/rereboom"><img src="https://avatars.githubusercontent.com/u/13142531?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [rereboom](https://github.com/rereboom)**
_Thursday Oct 22, 2015 at 22:22 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/262_

----

Content

[2016-01-27 21:57] ayaleloehr opened #29 "User should see different page title on veterans#show based on their role"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Wednesday Nov 04, 2015 at 00:47 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/269_

---

[2016-01-27 21:57] ayaleloehr opened #30 "Only approved employers appear in public commitments"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Wednesday Nov 04, 2015 at 01:03 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/270_

---

[2016-01-27 21:57] ayaleloehr commented on #30
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Sunday Jan 03, 2016 at 03:47 GMT_

----

Note to self:

def employer_pool
  add where(:approved => true)
end

tests: not-approved employer does not appear in CSV, commitment

[2016-01-27 21:57] ayaleloehr opened #31 "Fix apple-touch-icon error"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Wednesday Nov 04, 2015 at 01:06 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/272_

---

[2016-01-27 21:57] ayaleloehr opened #32 "Veteran can download an attractive docx resume"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Wednesday Nov 04, 2015 at 01:10 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/273_

---

[2016-01-27 21:57] ayaleloehr commented on #32
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emilyville](https://github.com/emilyville)**
_Wednesday Jan 20, 2016 at 16:13 GMT_

----

waiting on some code from @MarinaMartin

[2016-01-27 21:57] ayaleloehr opened #33 "Post Jobs page follows instructional design pattern"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Wednesday Nov 04, 2015 at 02:06 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/275_

---

[2016-01-27 21:57] ayaleloehr opened #34 "Visitor sees consistent Related Info descriptions"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Sunday Nov 08, 2015 at 17:49 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/282_

----

[2016-01-27 21:57] ayaleloehr commented on #34
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emilyville](https://github.com/emilyville)**
_Wednesday Dec 09, 2015 at 02:17 GMT_

----

Could you say more?  I am not sure I understand what this is referring to.

Assigning to you for more information!

[2016-01-27 21:57] ayaleloehr commented on #34
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Tuesday Dec 22, 2015 at 03:06 GMT_

----

More: The same links appear in multiple "Related Info" sections but with different descriptive text. This should be standardized.

[2016-01-27 21:57] ayaleloehr opened #35 "Jeff and Alex get notified if VEC experiences an error"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Sunday Nov 08, 2015 at 20:55 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/286_

----

[2016-01-27 21:57] ayaleloehr commented on #35
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Sunday Nov 08, 2015 at 20:56 GMT_

----

Shawn is setting this up.

[2016-01-27 21:57] ayaleloehr commented on #35
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Thursday Dec 10, 2015 at 20:05 GMT_

----

This is dependent on #400

[2016-01-27 21:57] ayaleloehr commented on #35
<a href="https://github.com/greggersh"><img src="https://avatars.githubusercontent.com/u/41960?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [greggersh](https://github.com/greggersh)**
_Tuesday Dec 22, 2015 at 15:38 GMT_

----

Is New Relic alerting sufficient? We have CloudWatch, etc. on the AWS side set up.

[2016-01-27 21:57] ayaleloehr commented on #35
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Wednesday Dec 23, 2015 at 00:37 GMT_

----

@greggersh New Relic alerting is sufficient. If I should get CloudWatch updates... I do not.

[2016-01-27 21:57] ayaleloehr commented on #35
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emilyville](https://github.com/emilyville)**
_Wednesday Jan 20, 2016 at 16:15 GMT_

----

Assigning to Alex since Greg is elsewhere at the moment.

[2016-01-27 21:57] ayaleloehr opened #36 "Show n entries should appear on 1 line, not 3"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Monday Nov 09, 2015 at 04:17 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/288_

----

[2016-01-27 21:57] ayaleloehr commented on #36
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Monday Nov 09, 2015 at 04:18 GMT_

----

![image](https://cloud.githubusercontent.com/assets/489465/11025849/0063702c-866f-11e5-94db-8bae2ca62e27.png)

This is a dataTable f

[2016-01-27 21:57] ayaleloehr opened #37 "Hard to see resume form errors"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Monday Nov 09, 2015 at 07:28 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/289_

----

[2016-01-27 21:57] ayaleloehr opened #38 "LinkedIn buttons should have LinkedIn mini logo"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Monday Nov 09, 2015 at 07:29 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/290_

----

[2016-01-27 21:57] ayaleloehr opened #39 "redirect 404 to https://staging.vets.gov/404.html"
<a href="https://github.com/llimllib"><img src="https://avatars.githubusercontent.com/u/7150?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [llimllib](https://github.com/llimllib)**
_Monday Nov 09, 2015 at 18:53 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/295_

----

It appears tha

[2016-01-27 21:57] ayaleloehr commented on #39
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Thursday Dec 10, 2015 at 20:06 GMT_

----

This seems to be done? @llimllib

[2016-01-27 21:57] ayaleloehr commented on #39
<a href="https://github.com/llimllib"><img src="https://avatars.githubusercontent.com/u/7150?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [llimllib](https://github.com/llimllib)**
_Thursday Dec 10, 2015 at 21:52 GMT_

----

Nope, ex: https://staging.vets.gov/veterans-employment-center/doesntoexist.html doesn't point to https://www.vets.gov/404.html

[2016-01-27 21:57] ayaleloehr opened #40 ""Please specify Sharethis publisher key info" message emitted in debug console"
<a href="https://github.com/jjtswan"><img src="https://avatars.githubusercontent.com/u/12799486?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jjtswan](https://github.com/jjtswan)**
_Tuesday Nov 10, 2015 at 02:21 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/299_

----

OSX Chrome

[2016-01-27 21:57] ayaleloehr opened #41 "Make search (button) + clear search (link) common pattern"
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [emilyville](https://github.com/emilyville)**
_Tuesday Nov 10, 2015 at 02:40 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/300_

----

it's

[2016-01-27 21:57] ayaleloehr opened #42 "Make login/signup UI pattern consistent"
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [emilyville](https://github.com/emilyville)**
_Tuesday Nov 10, 2015 at 02:43 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/301_

----

Empl

[2016-01-27 22:07] ayaleloehr opened #43 "Difficult to find your MOC?"
<a href="https://github.com/jjtswan"><img src="https://avatars.githubusercontent.com/u/12799486?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jjtswan](https://github.com/jjtswan)**
_Tuesday Nov 10, 2015 at 03:00 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/303_

----

I don't know

[2016-01-27 22:08] ayaleloehr opened #44 "Resume editor needs to allow removal of repeat entries. Can block completion of resume."
<a href="https://github.com/jjtswan"><img src="https://avatars.githubusercontent.com/u/12799486?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jjtswan](https://github.com/jjtswan)**
_Tuesday Nov 10, 2015 at 03:15 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/304_

----

OSX Chrome

[2016-01-27 22:08] ayaleloehr commented on #44
<a href="https://github.com/ayaleloehr"><img src="https://avatars.githubusercontent.com/u/4719765?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ayaleloehr](https://github.com/ayaleloehr)**
_Wednesday Dec 30, 2015 at 02:41 GMT_

----

A user left feedback (issue 938 in vets-website repo) that this was a problem for them.  That issue should be updated when this is res

[2016-01-27 22:08] ayaleloehr opened #45 "Resume editor does not allow addition of repeat skills"
<a href="https://github.com/jjtswan"><img src="https://avatars.githubusercontent.com/u/12799486?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jjtswan](https://github.com/jjtswan)**
_Tuesday Nov 10, 2015 at 03:17 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/305_

----

OSX Chrome

[2016-01-27 22:08] ayaleloehr commented on #45
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Monday Dec 21, 2015 at 06:13 GMT_

----

With the "press enter to add" do we actually need the "Add Another Skill" link? @llimllib ?

[2016-01-27 22:08] ayaleloehr commented on #45
<a href="https://github.com/llimllib"><img src="https://avatars.githubusercontent.com/u/7150?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [llimllib](https://github.com/llimllib)**
_Monday Dec 21, 2015 at 14:40 GMT_

----

That's a good question. We don't technically need it, so the question is what's the best UI? Will people be messed up by the lack of a button/link

[2016-01-27 22:08] ayaleloehr commented on #45
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Tuesday Dec 22, 2015 at 02:37 GMT_

----

Adding design label so UX team can weigh in.

[2016-01-27 22:08] ayaleloehr commented on #45
<a href="https://github.com/ayaleloehr"><img src="https://avatars.githubusercontent.com/u/4719765?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ayaleloehr](https://github.com/ayaleloehr)**
_Tuesday Jan 26, 2016 at 20:52 GMT_

----

This is a UX questions. My opinion is that it's fine to keep the "Add another skill" link there (even though pressing enter works as wel

[2016-01-27 22:08] ayaleloehr opened #46 "JS: "Uncaught TypeError" when hitting enter in location preference of resume builder"
<a href="https://github.com/jjtswan"><img src="https://avatars.githubusercontent.com/u/12799486?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jjtswan](https://github.com/jjtswan)**
_Tuesday Nov 10, 2015 at 03:21 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/306_

----

Super-duper

[2016-01-27 22:08] ayaleloehr opened #47 "Resume builder does not preserve ordering, also first location is bolded?"
<a href="https://github.com/jjtswan"><img src="https://avatars.githubusercontent.com/u/12799486?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jjtswan](https://github.com/jjtswan)**
_Tuesday Nov 10, 2015 at 03:24 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/307_

----

Super minor

[2016-01-27 22:08] ayaleloehr opened #48 "Resume builder estimated date checks reasonable year, but allows invalid month"
<a href="https://github.com/jjtswan"><img src="https://avatars.githubusercontent.com/u/12799486?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jjtswan](https://github.com/jjtswan)**
_Tuesday Nov 10, 2015 at 03:32 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/308_

----

Minor bug.

[2016-01-27 22:08] ayaleloehr opened #49 "Save as draft functionality instructions are confusing. Doesn't seem to do anything?"
<a href="https://github.com/jjtswan"><img src="https://avatars.githubusercontent.com/u/12799486?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jjtswan](https://github.com/jjtswan)**
_Tuesday Nov 10, 2015 at 03:42 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/309_

----

Right now, b

[2016-01-27 22:08] ayaleloehr opened #50 "Collapsing advanced search should probably temporarily disable any advanced search settings"
<a href="https://github.com/jjtswan"><img src="https://avatars.githubusercontent.com/u/12799486?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jjtswan](https://github.com/jjtswan)**
_Tuesday Nov 10, 2015 at 04:19 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/313_

----

Another supe

[2016-01-27 22:08] ayaleloehr opened #51 "After hitting next for a job search multiple times does not create new URL state"
<a href="https://github.com/jjtswan"><img src="https://avatars.githubusercontent.com/u/12799486?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jjtswan](https://github.com/jjtswan)**
_Tuesday Nov 10, 2015 at 04:41 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/315_

----

Another pret

[2016-01-27 22:09] ayaleloehr opened #52 "Fix Logged in Employer navigation menu to work in "medium" sizes"
<a href="https://github.com/cew821"><img src="https://avatars.githubusercontent.com/u/1237498?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [cew821](https://github.com/cew821)**
_Tuesday Nov 10, 2015 at 14:54 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/319_

----

Right now the di

[2016-01-27 22:09] ayaleloehr opened #53 "Increase padding in selection rectangles on home page (and elsewhere)"
<a href="https://github.com/cew821"><img src="https://avatars.githubusercontent.com/u/1237498?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [cew821](https://github.com/cew821)**
_Tuesday Nov 10, 2015 at 15:03 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/321_

----

The text is too

[2016-01-27 22:09] ayaleloehr opened #54 ""TM" text in header is a different font from the rest of the text"
<a href="https://github.com/alex"><img src="https://avatars.githubusercontent.com/u/772?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [alex](https://github.com/alex)**
_Tuesday Nov 10, 2015 at 18:57 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/322_

----

On https://www.vets.gov/ve

[2016-01-27 22:09] ayaleloehr opened #55 "Hover State of buttons / rectangles has low contrast"
<a href="https://github.com/cew821"><img src="https://avatars.githubusercontent.com/u/1237498?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [cew821](https://github.com/cew821)**
_Tuesday Nov 10, 2015 at 19:08 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/323_

----

For rectangles w

[2016-01-27 22:09] ayaleloehr opened #56 "Give some design love to job search results"
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [emilyville](https://github.com/emilyville)**
_Wednesday Dec 02, 2015 at 19:51 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/338_

----

Mo

[2016-01-27 22:09] ayaleloehr opened #57 "check on GA integration"
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [emilyville](https://github.com/emilyville)**
_Wednesday Dec 02, 2015 at 20:00 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/341_

----

(R

[2016-01-27 22:09] ayaleloehr commented on #57
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emilyville](https://github.com/emilyville)**
_Thursday Dec 17, 2015 at 00:39 GMT_

----

I think I wrote "Read Noah's Insructions" while talking to @MarinaMartin, but retained nothing beyond what this says!

@MarinaMartin -

[2016-01-27 22:09] #3 closed

[2016-01-27 22:09] #4 closed

[2016-01-27 22:09] #5 closed

[2016-01-27 22:09] #6 closed

[2016-01-27 22:09] #7 closed

[2016-01-27 22:09] #8 closed

[2016-01-27 22:09] #9 closed

[2016-01-27 22:09] #10 closed

[2016-01-27 22:09] #11 closed

[2016-01-27 22:09] #12 closed

[2016-01-27 22:09] #13 closed

[2016-01-27 22:09] #14 closed

[2016-01-27 22:09] #15 closed

[2016-01-27 22:09] #16 closed

[2016-01-27 22:09] #17 closed

[2016-01-27 22:09] #18 closed

[2016-01-27 22:09] #19 closed

[2016-01-27 22:09] #20 closed

[2016-01-27 22:09] #21 closed

[2016-01-27 22:09] #22 closed

[2016-01-27 22:09] ayaleloehr commented on #57
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emilyville](https://github.com/emilyville)**
_Wednesday Jan 20, 2016 at 16:15 GMT_

----

GA integration will be merged with the new gem

[2016-01-27 22:09] ayaleloehr opened #58 "Small UI issues on landing page on iphone"
<a href="https://github.com/cfeeney-va"><img src="https://avatars.githubusercontent.com/u/15927676?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [cfeeney-va](https://github.com/cfeeney-va)**
_Friday Dec 04, 2015 at 21:05 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/351_

----

![im

[2016-01-27 22:09] ayaleloehr opened #59 "Search button format on iphone"
<a href="https://github.com/cfeeney-va"><img src="https://avatars.githubusercontent.com/u/15927676?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [cfeeney-va](https://github.com/cfeeney-va)**
_Friday Dec 04, 2015 at 21:29 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/353_

----

The

[2016-01-27 22:09] ayaleloehr opened #60 "Location for job bank search"
<a href="https://github.com/cfeeney-va"><img src="https://avatars.githubusercontent.com/u/15927676?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [cfeeney-va](https://github.com/cfeeney-va)**
_Friday Dec 04, 2015 at 22:11 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/357_

----

The

[2016-01-27 22:09] ayaleloehr commented on #60
<a href="https://github.com/ayaleloehr"><img src="https://avatars.githubusercontent.com/u/4719765?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ayaleloehr](https://github.com/ayaleloehr)**
_Tuesday Jan 26, 2016 at 21:06 GMT_

----

Zip code doesn't seem to be working at all. We should either make it work or remove it.

[2016-01-27 22:09] ayaleloehr opened #61 "Job bank search results on iphone"
<a href="https://github.com/cfeeney-va"><img src="https://avatars.githubusercontent.com/u/15927676?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [cfeeney-va](https://github.com/cfeeney-va)**
_Friday Dec 04, 2015 at 22:22 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/358_

----

Usin

[2016-01-27 22:10] ayaleloehr opened #62 "Resume Builder Preview-iphone"
<a href="https://github.com/cfeeney-va"><img src="https://avatars.githubusercontent.com/u/15927676?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [cfeeney-va](https://github.com/cfeeney-va)**
_Friday Dec 04, 2015 at 22:31 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/359_

----

The

[2016-01-27 22:10] ayaleloehr commented on #62
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Monday Dec 21, 2015 at 04:39 GMT_

----

Welp, I fixed the button to be full width, but now it's too long...

![image](https://cloud.githubusercontent.com/assets/489465/1192

[2016-01-27 22:10] ayaleloehr opened #63 "Advanced search jumps on page"
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [emilyville](https://github.com/emilyville)**
_Tuesday Dec 08, 2015 at 23:42 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/365_

----

on t

[2016-01-27 22:10] ayaleloehr opened #64 "Commitment page form needs more validation, takes negative / numeric"
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [emilyville](https://github.com/emilyville)**
_Wednesday Dec 09, 2015 at 01:28 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/367_

----

![

[2016-01-27 22:10] ayaleloehr opened #65 "Add coursera logo to coursera box"
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [emilyville](https://github.com/emilyville)**
_Wednesday Dec 09, 2015 at 02:20 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/368_

----

li

[2016-01-27 22:10] ayaleloehr opened #66 "DS Login text clarification"
<a href="https://github.com/koconnor719"><img src="https://avatars.githubusercontent.com/u/13770771?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [koconnor719](https://github.com/koconnor719)**
_Wednesday Dec 09, 2015 at 04:04 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/374_

----

[2016-01-27 22:10] ayaleloehr opened #67 "is there a complete list of MOC codes in skills translator?"
<a href="https://github.com/koconnor719"><img src="https://avatars.githubusercontent.com/u/13770771?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [koconnor719](https://github.com/koconnor719)**
_Wednesday Dec 09, 2015 at 04:26 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/377_

----

[2016-01-27 22:10] ayaleloehr opened #68 "different box sizes on resume page"
<a href="https://github.com/koconnor719"><img src="https://avatars.githubusercontent.com/u/13770771?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [koconnor719](https://github.com/koconnor719)**
_Wednesday Dec 09, 2015 at 04:34 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/379_

----

[2016-01-27 22:10] ayaleloehr opened #69 "Viewing output of skills translator"
<a href="https://github.com/cfeeney-va"><img src="https://avatars.githubusercontent.com/u/15927676?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [cfeeney-va](https://github.com/cfeeney-va)**
_Wednesday Dec 09, 2015 at 18:35 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/383_

----

S

[2016-01-27 22:10] ayaleloehr commented on #69
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Monday Dec 21, 2015 at 05:54 GMT_

----

As a stop-gap, I added the text "Scroll down for results" below the translate button. Someone with UX skills likely has a better ide

[2016-01-27 22:10] ayaleloehr opened #70 "Employer commitment page formatting on iphone"
<a href="https://github.com/cfeeney-va"><img src="https://avatars.githubusercontent.com/u/15927676?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [cfeeney-va](https://github.com/cfeeney-va)**
_Wednesday Dec 09, 2015 at 19:28 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/388_

----

C

[2016-01-27 22:10] ayaleloehr commented on #70
<a href="https://github.com/cfeeney-va"><img src="https://avatars.githubusercontent.com/u/15927676?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [cfeeney-va](https://github.com/cfeeney-va)**
_Wednesday Dec 09, 2015 at 19:29 GMT_

----

Also, Previous/Next links show when there is only one page (they are disabled though)

[2016-01-27 22:10] ayaleloehr opened #71 "Order of tests in features/commitment_specs causes intermittent failures"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Wednesday Dec 09, 2015 at 20:05 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/390_

---

[2016-01-27 22:11] ayaleloehr commented on #71
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Sunday Dec 20, 2015 at 19:31 GMT_

----

The sortable test was changed to pending, but we shouldn't forget about this.

[2016-01-27 22:11] ayaleloehr opened #72 "Skills DB Cleanup"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Wednesday Dec 09, 2015 at 21:19 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/391_

---

[2016-01-27 22:11] ayaleloehr opened #73 "Transfer LinkedIn and Google app keys"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Wednesday Dec 09, 2015 at 22:38 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/392_

---

[2016-01-27 22:11] ayaleloehr commented on #73
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Tuesday Dec 22, 2015 at 02:19 GMT_

----

We are still waiting on LinkedIn to enable r_fullprofile, once they do that we can switch key.

[2016-01-27 22:11] ayaleloehr opened #74 "Remove old API keys - then open source"
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [emilyville](https://github.com/emilyville)**
_Thursday Dec 10, 2015 at 19:50 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/399_

----

Ron

[2016-01-27 22:11] ayaleloehr opened #75 "Employer detail page is sad"
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [emilyville](https://github.com/emilyville)**
_Friday Dec 11, 2015 at 03:44 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/408_

----

![scr

[2016-01-27 22:11] ayaleloehr commented on #75
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Friday Dec 11, 2015 at 04:47 GMT_

----

That sentence, with data, would say:
Hired 5 of the 500 Veterans committed to hire by 2016-05-08.

That text needs a conditional so

[2016-01-27 22:11] ayaleloehr opened #76 "test on moar browsers"
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [emilyville](https://github.com/emilyville)**
_Friday Dec 11, 2015 at 15:56 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/416_

----

None

[2016-01-27 22:11] ayaleloehr opened #77 "a few 508 issues on the resume builder"
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [emilyville](https://github.com/emilyville)**
_Thursday Dec 17, 2015 at 02:14 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/425_

----

mos

[2016-01-27 22:11] ayaleloehr commented on #77
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Sunday Dec 20, 2015 at 23:19 GMT_

----

@emilyville Is there a list of the issues? How can we re-create?

[2016-01-27 22:11] ayaleloehr opened #78 "MOC codes in skills translator"
<a href="https://github.com/koconnor719"><img src="https://avatars.githubusercontent.com/u/13770771?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [koconnor719](https://github.com/koconnor719)**
_Thursday Dec 17, 2015 at 03:23 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/426_

----

[2016-01-27 22:12] ayaleloehr commented on #78
<a href="https://github.com/greggersh"><img src="https://avatars.githubusercontent.com/u/41960?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [greggersh](https://github.com/greggersh)**
_Thursday Dec 17, 2015 at 14:56 GMT_

----

This has come up a lot in meetings. The answer right now is that we only support current MOCs. I have opinions on this.

[2016-01-27 22:12] ayaleloehr commented on #78
<a href="https://github.com/koconnor719"><img src="https://avatars.githubusercontent.com/u/13770771?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [koconnor719](https://github.com/koconnor719)**
_Thursday Dec 17, 2015 at 15:23 GMT_

----

Maybe we can clarify this with content on the page?

[2016-01-27 22:12] ayaleloehr commented on #78
<a href="https://github.com/greggersh"><img src="https://avatars.githubusercontent.com/u/41960?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [greggersh](https://github.com/greggersh)**
_Thursday Dec 17, 2015 at 15:24 GMT_

----

Sure, that would be a good approach.

[2016-01-27 22:12] ayaleloehr opened #79 "Landing page Job Seekers and Employer content"
<a href="https://github.com/koconnor719"><img src="https://avatars.githubusercontent.com/u/13770771?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [koconnor719](https://github.com/koconnor719)**
_Friday Dec 18, 2015 at 18:08 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/428_

----

@

[2016-01-27 22:12] ayaleloehr commented on #79
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Monday Dec 21, 2015 at 04:47 GMT_

----

Made an executive decision to put this new content in the live site tonight - we can revert based on the content team's expertise!

[2016-01-27 22:12] ayaleloehr commented on #79
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emilyville](https://github.com/emilyville)**
_Wednesday Jan 20, 2016 at 16:36 GMT_

----

just need to verify this happened.

[2016-01-27 22:12] ayaleloehr opened #80 "MOC accuracy"
<a href="https://github.com/koconnor719"><img src="https://avatars.githubusercontent.com/u/13770771?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [koconnor719](https://github.com/koconnor719)**
_Sunday Dec 20, 2015 at 21:17 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/439_

----

M

[2016-01-27 22:12] ayaleloehr commented on #80
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Sunday Dec 20, 2015 at 21:30 GMT_

----

Hm. The DOL source of MOCs says:

1110	TOMAHAWK Weapon System (VLS) Maintenance Technician (Navy - Enlisted)

and

001110	Master Div

[2016-01-27 22:12] ayaleloehr commented on #80
<a href="https://github.com/ayaleloehr"><img src="https://avatars.githubusercontent.com/u/4719765?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ayaleloehr](https://github.com/ayaleloehr)**
_Wednesday Dec 30, 2015 at 20:52 GMT_

----

Is there a definitive source of MOCs?  Where did we get the MOCs in VEC from?

[2016-01-27 22:12] ayaleloehr commented on #80
<a href="https://github.com/koconnor719"><img src="https://avatars.githubusercontent.com/u/13770771?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [koconnor719](https://github.com/koconnor719)**
_Monday Jan 04, 2016 at 15:41 GMT_

----

Let�s ask Rosye for this Friday. I�ve asked this question before and I�m not sure that our team knows the answer.

Kelly O�Connor
VA

[2016-01-27 22:12] ayaleloehr commented on #80
<a href="https://github.com/ayaleloehr"><img src="https://avatars.githubusercontent.com/u/4719765?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ayaleloehr](https://github.com/ayaleloehr)**
_Thursday Jan 07, 2016 at 17:45 GMT_

----

Now that the agenda for the meeting Friday has changed and I assume this won't be discussed, how should we approach this one @koconnor7

[2016-01-27 22:12] ayaleloehr commented on #80
<a href="https://github.com/koconnor719"><img src="https://avatars.githubusercontent.com/u/13770771?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [koconnor719](https://github.com/koconnor719)**
_Thursday Jan 07, 2016 at 19:42 GMT_

----

let me email that team directly.  i'll start w/ john and robert.

[2016-01-27 22:12] ayaleloehr opened #81 "Trashcan icon does not appear in IE"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Tuesday Dec 22, 2015 at 01:22 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/450_

----

[2016-01-27 22:13] ayaleloehr opened #82 "Search button on Veteran search is oddly small"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Tuesday Dec 22, 2015 at 05:16 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/458_

----

[2016-01-27 22:13] ayaleloehr opened #83 ""Available as of" should be on 1 line, not 3"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Tuesday Dec 22, 2015 at 05:17 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/459_

----

[2016-01-27 22:13] ayaleloehr opened #84 "Remove ALP search field"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Tuesday Dec 22, 2015 at 05:17 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/460_

----

[2016-01-27 22:13] ayaleloehr opened #85 "Remove old site feedback code"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Tuesday Dec 22, 2015 at 05:42 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/462_

----

[2016-01-27 22:13] ayaleloehr opened #86 "mobile landing page cutoff text"
<a href="https://github.com/koconnor719"><img src="https://avatars.githubusercontent.com/u/13770771?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [koconnor719](https://github.com/koconnor719)**
_Wednesday Dec 23, 2015 at 04:21 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/469_

----

[2016-01-27 22:13] ayaleloehr opened #87 "make a hiring commitment page not displaying correctly on mobile"
<a href="https://github.com/koconnor719"><img src="https://avatars.githubusercontent.com/u/13770771?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [koconnor719](https://github.com/koconnor719)**
_Wednesday Dec 23, 2015 at 04:26 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/470_

----

[2016-01-27 22:13] ayaleloehr opened #88 "Link to Sec message broken from VEC page"
<a href="https://github.com/koconnor719"><img src="https://avatars.githubusercontent.com/u/13770771?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [koconnor719](https://github.com/koconnor719)**
_Wednesday Dec 23, 2015 at 04:39 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/471_

----

[2016-01-27 22:13] ayaleloehr commented on #88
<a href="https://github.com/ayaleloehr"><img src="https://avatars.githubusercontent.com/u/4719765?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ayaleloehr](https://github.com/ayaleloehr)**
_Thursday Jan 07, 2016 at 17:28 GMT_

----

This is happening because the {{ site.url }} is not being read correctly in line 103 of app/vendor/va_common/_footer.html.erb

[2016-01-27 22:13] ayaleloehr commented on #88
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emilyville](https://github.com/emilyville)**
_Wednesday Jan 20, 2016 at 16:30 GMT_

----

this may be fixed with gem update, I will verify

[2016-01-27 22:13] ayaleloehr opened #89 "Make it easier for admins to approve employers"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Wednesday Dec 23, 2015 at 04:44 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/472_

---

[2016-01-27 22:13] ayaleloehr commented on #89
<a href="https://github.com/ayaleloehr"><img src="https://avatars.githubusercontent.com/u/4719765?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ayaleloehr](https://github.com/ayaleloehr)**
_Thursday Jan 07, 2016 at 13:49 GMT_

----

@maryannbrody this is something you and I should tackle. Let's discuss in person this week and find some time to go meet with the VA ad

[2016-01-27 22:13] ayaleloehr opened #90 "Create new mockup of Job Seeker landing page"
<a href="https://github.com/maryannbrody"><img src="https://avatars.githubusercontent.com/u/12674895?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [maryannbrody](https://github.com/maryannbrody)**
_Wednesday Dec 23, 2015 at 20:37 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/474_

-

[2016-01-27 22:13] ayaleloehr commented on #90
<a href="https://github.com/maryannbrody"><img src="https://avatars.githubusercontent.com/u/12674895?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [maryannbrody](https://github.com/maryannbrody)**
_Wednesday Dec 23, 2015 at 20:40 GMT_

----

Note: If we're looking at search and considering offering more of a browse experience, we discussed looking at search term anal

[2016-01-27 22:14] ayaleloehr opened #91 "Add "rank" filter to job search"
<a href="https://github.com/maryannbrody"><img src="https://avatars.githubusercontent.com/u/12674895?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [maryannbrody](https://github.com/maryannbrody)**
_Wednesday Dec 23, 2015 at 20:45 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/475_

-

[2016-01-27 22:14] ayaleloehr opened #92 "Add "Showing X of Y Results" to top of job search results page"
<a href="https://github.com/maryannbrody"><img src="https://avatars.githubusercontent.com/u/12674895?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [maryannbrody](https://github.com/maryannbrody)**
_Wednesday Dec 23, 2015 at 20:49 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/476_

-

[2016-01-27 22:14] ayaleloehr opened #93 "Mockup job search results page with the following changes..."
<a href="https://github.com/maryannbrody"><img src="https://avatars.githubusercontent.com/u/12674895?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [maryannbrody](https://github.com/maryannbrody)**
_Wednesday Dec 23, 2015 at 21:07 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/477_

-

[2016-01-27 22:14] ayaleloehr commented on #93
<a href="https://github.com/gnakm"><img src="https://avatars.githubusercontent.com/u/13420618?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [gnakm](https://github.com/gnakm)**
_Tuesday Jan 26, 2016 at 23:24 GMT_

----

If we decide to use social media buttons, we should keep them around 24 x 24px
Also, having "job posted" result on 2nd line will make it easier for us

[2016-01-27 22:14] ayaleloehr commented on #93
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Tuesday Jan 26, 2016 at 23:27 GMT_

----

I think we have good data that no one uses the social media buttons.

[2016-01-27 22:14] ayaleloehr commented on #93
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emilyville](https://github.com/emilyville)**
_Tuesday Jan 26, 2016 at 23:29 GMT_

----

Nice, Gina!

I'd be pretty excited to remove them completely - last I heard that was a
non starter? But maybe it's a brave new world now

[2016-01-27 22:14] ayaleloehr commented on #93
<a href="https://github.com/maryannbrody"><img src="https://avatars.githubusercontent.com/u/12674895?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [maryannbrody](https://github.com/maryannbrody)**
_Wednesday Jan 27, 2016 at 02:49 GMT_

----

Hey, @gnakm! Thanks for sharing and it's super awesome to start to see some usability findings being implemented.

I wanted to

[2016-01-27 22:14] ayaleloehr opened #94 "Favicon returns with 403 Forbidden"
<a href="https://github.com/ayaleloehr"><img src="https://avatars.githubusercontent.com/u/4719765?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ayaleloehr](https://github.com/ayaleloehr)**
_Thursday Dec 24, 2015 at 11:34 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/478_

----

In

[2016-01-27 22:14] ayaleloehr commented on #94
<a href="https://github.com/ayaleloehr"><img src="https://avatars.githubusercontent.com/u/4719765?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ayaleloehr](https://github.com/ayaleloehr)**
_Thursday Jan 07, 2016 at 17:21 GMT_

----

This is happening because its pointing to ...vets.gov/assets... instead of vets.gov/veterans-employment-center/assets...

I believe thi

[2016-01-27 22:14] ayaleloehr opened #95 "Make sure Veteran logout button is clear and accessible"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Tuesday Jan 05, 2016 at 06:58 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/480_

----

[2016-01-27 22:14] ayaleloehr opened #96 "Switch production branch back to production"
<a href="https://github.com/ayaleloehr"><img src="https://avatars.githubusercontent.com/u/4719765?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ayaleloehr](https://github.com/ayaleloehr)**
_Thursday Jan 07, 2016 at 17:41 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/486_

----

Pro

[2016-01-27 22:14] ayaleloehr opened #97 "Add link to VEC"
<a href="https://github.com/koconnor719"><img src="https://avatars.githubusercontent.com/u/13770771?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [koconnor719](https://github.com/koconnor719)**
_Thursday Jan 07, 2016 at 18:14 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/487_

----

[2016-01-27 22:14] ayaleloehr commented on #97
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emilyville](https://github.com/emilyville)**
_Thursday Jan 07, 2016 at 18:41 GMT_

----

We don't really have a place we add links to temp. stuff like blog posts (yet?). Did you have a spot in mind for this to go @koconnor71

[2016-01-27 22:15] ayaleloehr commented on #97
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Thursday Jan 07, 2016 at 18:44 GMT_

----

I think we want less of a "link to a blog post" and more of a "Make sure you know how to protect yourself!"

[2016-01-27 22:15] ayaleloehr commented on #97
<a href="https://github.com/koconnor719"><img src="https://avatars.githubusercontent.com/u/13770771?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [koconnor719](https://github.com/koconnor719)**
_Thursday Jan 07, 2016 at 18:51 GMT_

----

could we add a link on the job seeker page under the steps to finding a job?  maybe not a step--but a note below that with the link

[2016-01-27 22:15] ayaleloehr commented on #97
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emilyville](https://github.com/emilyville)**
_Friday Jan 08, 2016 at 15:41 GMT_

----

OK. So rather than thinking about this as adding a link to a blog post, we need to add some content with a notice about job scams - that

[2016-01-27 22:15] ayaleloehr commented on #97
<a href="https://github.com/koconnor719"><img src="https://avatars.githubusercontent.com/u/13770771?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [koconnor719](https://github.com/koconnor719)**
_Friday Jan 08, 2016 at 15:42 GMT_

----

Sounds good
Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: emilyville <notifications@github.com<mailto:n

[2016-01-27 22:15] ayaleloehr commented on #97
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emilyville](https://github.com/emilyville)**
_Friday Jan 08, 2016 at 18:13 GMT_

----

tagging the user voice issue for context: https://github.com/department-of-veterans-affairs/vets-website/issues/996

[2016-01-27 22:15] ayaleloehr commented on #97
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [MarinaMartin](https://github.com/MarinaMartin)**
_Sunday Jan 10, 2016 at 22:12 GMT_

----

I don't think we should include a link that says "breach" in the name... that seems unnecessarily alarming. Instead we should link t

[2016-01-27 22:15] ayaleloehr commented on #97
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emilyville](https://github.com/emilyville)**
_Monday Jan 11, 2016 at 01:04 GMT_

----

It seems like the right time to mention this is when you give us your email, or create a profile. Basically whatever moment you are makin

[2016-01-27 22:15] ayaleloehr commented on #97
<a href="https://github.com/emilyville"><img src="https://avatars.githubusercontent.com/u/1307774?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [emilyville](https://github.com/emilyville)**
_Wednesday Jan 20, 2016 at 16:26 GMT_

----

have a snippet from  Ric to add - Just need to add it.

[2016-01-27 22:15] ayaleloehr opened #98 "Cannot get to resume builder after unknown MOC is entered"
<a href="https://github.com/ayaleloehr"><img src="https://avatars.githubusercontent.com/u/4719765?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ayaleloehr](https://github.com/ayaleloehr)**
_Friday Jan 08, 2016 at 17:50 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/488_

----

When

[2016-01-27 22:15] ayaleloehr opened #99 "Integrate CareerSpark Data"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Tuesday Jan 19, 2016 at 00:25 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/489_

----

[2016-01-27 22:15] ayaleloehr opened #100 "Integrate COOL Credentialing Data"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Tuesday Jan 19, 2016 at 00:31 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/490_

----

[2016-01-27 22:15] ayaleloehr opened #101 "Integrate with DOD Skillbridge"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Tuesday Jan 19, 2016 at 00:35 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/491_

----

[2016-01-27 22:15] ayaleloehr opened #102 "Integrate with MySkillsMyFuture"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Tuesday Jan 19, 2016 at 00:37 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/492_

----

[2016-01-27 22:15] ayaleloehr opened #103 "Answer Quora question regarding JobPosting schema"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Tuesday Jan 19, 2016 at 00:38 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/493_

----

[2016-01-27 22:15] ayaleloehr opened #104 "Answer Quora question regarding JobPosting schema #2"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Tuesday Jan 19, 2016 at 00:39 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/494_

----

[2016-01-27 22:16] ayaleloehr opened #105 "Partner with Small Business office at VA"
<a href="https://github.com/MarinaMartin"><img src="https://avatars.githubusercontent.com/u/489465?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MarinaMartin](https://github.com/MarinaMartin)**
_Tuesday Jan 19, 2016 at 00:41 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/495_

----

[2016-01-27 22:16] ayaleloehr opened #106 "UserVoice Idea: Incorrect Job Description"
<a href="https://github.com/ayaleloehr"><img src="https://avatars.githubusercontent.com/u/4719765?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ayaleloehr](https://github.com/ayaleloehr)**
_Tuesday Jan 26, 2016 at 16:44 GMT_
_Originally opened as https://github.com/department-of-veterans-affairs/veterans-employment-center-private-pre-01-27-2015/issues/506_

----

Copi

[2016-01-27 22:16] ayaleloehr commented on #106
<a href="https://github.com/ayaleloehr"><img src="https://avatars.githubusercontent.com/u/4719765?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ayaleloehr](https://github.com/ayaleloehr)**
_Tuesday Jan 26, 2016 at 16:47 GMT_

----

Comment I left on vets-website issue for our records when digging back into this:

I checked the data files that this came from and this

[2016-01-28 02:37] MarinaMartin commented on #93
I have data on the social media buttons. In the last 90 days of VEC in eBenefits, a social media save button was clicked 339 times (0.29% of people looking at the job search results). That data implies removing them to me.

[2016-01-28 18:21] emilyville opened #108 "Skills translator skills are lost with linkedin integration?"
When I used this, it removed all of my fake infantryman skills. :(

[2016-01-28 20:10] emilyville commented on #97
Here is the new copy!

FRAUD WARNING: Fraudulent attempts have been made to collect user information by accessing Veteran profiles on the VEC website. Please know that VA will not ask for your personal information via email and that VEC does not store résumés or other personally identifying information. If you believe you were targeted by a potential online scam for jobs or otherwise, please conta

[2016-01-28 20:15] emilyville commented on #97
@MarinaMartin raised an excellent point that we should approve this language. @koconnor719 - assigning to you to run this by Rosye.

[2016-01-28 20:19] emilyville commented on #97
@gnakm - if you have a moment and you can find a good spot where this warning should go, that might help with approval! I'm thinking we want to put it somewhere on the resume-saving page, in the least ostentatious way possible, either in a modal or at the bottom of the page.

[2016-01-28 22:31] gnakm commented on #45
Anne and I just tested it and we think it's best to get rid of the link, especially since it says (press enter to add).

Also, could we add a hover over the results? Like the one below.
<img width="280" alt="screen shot 2016-01-28 at 5 29 33 pm" src="https://cloud.githubusercontent.com/assets/13420618/12660976/f1c38eb6-c5e4-11e5-9f54-b3c97b33942a.png">

<img width="207" alt="screen shot 2016-01-28

[2016-01-29 14:45] koconnor719 commented on #97
Or maybe on the job seeker page?

Sent with Good (www.good.com)

-----Original Message-----
From: emilyville [notifications@github.com<mailto:notifications@github.com>]
Sent: Thursday, January 28, 2016 03:20 PM Eastern Standard Time
To: department-of-veterans-affairs/veterans-employment-center
Cc: O'Connor, Kelly A.
Subject: [EXTERNAL] Re: [veterans-employment-center] Add link to VEC (#97)

@gnakm

[2016-01-29 17:57] emilyville commented on #45
sounds good to me! Let's remove the link. Might want to file a separate issue for the hover and label it as an enhancement.

Just noting: We should streamline how we do dropdowns and default to the right version, and create that  in Roadrunner.
Filed an issue to do that here:
https://github.com/department-of-veterans-affairs/roadrunner/issues/13

[2016-02-01 03:36] koconnor719 opened #110 "VEC Charter"

[2016-02-01 03:36] koconnor719 commented on #110
Develop VEC charter w/ product team and get signatures.

[2016-02-01 03:41] koconnor719 opened #111 "Careers & Employment IA"
Completed draft of Careers and Employment IA and validated with content working group and ready for Rosye Cloud / IPT review and approval

[2016-02-01 03:43] koconnor719 opened #112 "Careers & Employment Content Concurrence"
Begin content concurrence process for content in Careers & Employment Section

[2016-02-01 03:44] koconnor719 opened #113 "Job Scam Solution"
Develop options to address VEC job scam issues and present to Rosye.

[2016-02-01 03:45] koconnor719 commented on #110
entering this issue in preparation for sprint planning tomorrow

[2016-02-01 15:24] gnakm commented on #93
@maryannbrody, @emilyville
Could you guys please take a look at this edit? Thanks!

![job seeker search](https://cloud.githubusercontent.com/assets/13420618/12721463/f4d84ba0-c8cd-11e5-89d2-f6c9a256eafe.png)

[2016-02-01 17:57] ayaleloehr opened #118 "Move search API off Heroku"
This has to happen before 2/7. On that date Heroku is shutting off free access because we are over our quota.

[2016-02-01 19:57] gnakm commented on #97
I think it will be best on the resume-saving page, right before the user submits to preview his/her profile. I think the job seeker page is a little more general and users don't have to insert any personal information, so they may be more likely to miss the note. The blue modular box may be better than text alone because it's a friendly color yet still stands out from all of the other texts on the

[2016-02-01 20:10] koconnor719 commented on #113
issue  #97

[2016-02-01 20:13] koconnor719 commented on #111
draft will go to content working group week of 2/5

[2016-02-01 20:17] koconnor719 commented on #32
feature enhancement; charter discussion

[2016-02-01 20:18] koconnor719 commented on #30
ehancement discussion

[2016-02-01 20:23] koconnor719 commented on #110
technical rosye, christi, john thompson--alex and kelly.

[2016-02-01 20:29] koconnor719 opened #119 "Schedule next content working session"
include VECI content discussion

[2016-02-01 20:31] koconnor719 opened #120 "User research - VEC"

[2016-02-01 20:32] koconnor719 commented on #120
@rcarthur ric to get mary ann draft IA for testing

[2016-02-01 20:35] emilyville opened #121 "discuss Careers and Employment / VEC- Jekyll vs rails division"
It would be great to keep as much content as possible in the vets.gov jekyll site (markdown), and employment "tools" in rails, but I don't know the best way to do that - as we add more and more strictly content pages into that section. This isn't critical until the content folks are done, but that is likely happening this week or next.

tagging
@ayaleloehr @plusjeff @akainic

Would love to discuss

[2016-02-01 20:36] koconnor719 commented on #89
mary ann to get w/ john thompson and robert sanders

[2016-02-01 20:45] maryannbrody commented on #89
@ayaleloehr Can you please make the intro/schedule something for this? I think it'd be good to do 1 on 1's with each stakeholder (so 2 separate meetings) -- Wednesday and Friday AM look good this week.

[2016-02-01 20:48] emilyville opened #122 "how to video"
There are some videos that we need to somehow incorporate into careers and employment. They are likely off-brand and also have useful content, so I think we should make some video decisions.

my 2 cents - we don't bring any "over" and instead link to them in a consistent pattern.

@gnakm @dannychapman @rcarthur

[2016-02-01 21:38] gnakm commented on #56
I'm going to close this issue because it is being tackled via issue #93

[2016-02-01 21:38] #56 closed

[2016-02-01 21:46] gnakm commented on #93
Actually, I prefer it with the links in our Primary Darker (Hex value: #205493)
It looks slightly more refined than the lighter blue.

![collapsed copy](https://cloud.githubusercontent.com/assets/13420618/12731956/4ae46c26-c901-11e5-8667-23b4f206ee11.png)

[2016-02-01 22:07] maryannbrody commented on #93
Hi, @gnakm -- i think this is an awesome improvement over what we currently have. Woohoo!

Per @MarinaMartin's comment about analytics of social/share buttons, let's just get rid of the email functionality altogether.

Otherwise this looks good to me! Let's get this over to Anne  unless there's additional feedback from @emilyville

[2016-02-01 22:10] gnakm commented on #27
Reference: [US web standard tables](https://playbook.cio.gov/designstandards/tables/)

[2016-02-01 22:26] koconnor719 commented on #97
@gnakm we are trying to set up a meeting w/ rosye this week--i'll include you and we can have her take a quick look at this and approve:)  we need to get her approval on the language first fyi.  thx. this looks great!

[2016-02-01 23:05] gnakm opened #123 "Resume content consistency"
The titles and instructions of each section are inconsistent.
https://www.vets.gov/veterans-employment-center/createresume

There is a spectrum of action to question based titles and some instructions are redundant (e.g. Add The Basics vs. Education & Training). I also think we need to be more consistent with the "Add as many..." categories. If we're going to have an "+Add another" link at the bot

[2016-02-02 03:47] koconnor719 commented on #93
@gnakm do we want to get some time from Rosye this week to go over these design items (social media buttons, warning language about job scams, etc.) do we want to try and run a few items by her on wed if we have time--the ones we want to do right away?  then maybe set up a follow up design review session for any other items you have on your list??

[2016-02-02 03:58] emilyville commented on #93
Do we need to show Rosye iterative design improvements that don't
significantly effect functionality? I'd propose we just keep in shipping
and change course of that becomes a problem.

We can always reinstate old versions if we have to....

Looks good @gnkm! Let's stick with whatever link color is baked in - unless
we make that a global change.

[2016-02-02 04:21] MarinaMartin commented on #93
I would vote for showing the stakeholder a new design ahead of time but not waiting on them for approval, as a best practice. It's not fun to learn about a change on stage or when giving a demo and seeing a new design, etc

[2016-02-02 04:25] emilyville commented on #93
Good point. You guys know them better than I do! I just think ..

1) designs are almost always worse when done by committee
2) people have a hard time seeing design changes and not weighing in on
things they normally wouldn't even notice!

I don't think we're doing either of these things now. So I'm just being
cautionary.

[2016-02-02 14:42] dannychapman commented on #122
@emilyville Agreed re: not bringing videos over. We should discuss this extensively with the content team to make sure any videos meet our content guidelines for voice, tone and content.

[2016-02-02 14:48] maryannbrody commented on #93
I agree with @emilyville and @MarinaMartin - definitely a balancing act between being inclusive and moving forward.

When we share with stakeholders, I suggest that we always root it in a usability findings/data. (The user knows best.)

So in this example, the key messages are: "We made some improvements based on observing veterans use the tool. When we watched users search for a job, a few users

[2016-02-02 16:56] gnakm commented on #93
@emilyville The current links are the grey linked text on grey, so keep as it is, correct? I also took out the email.
<img width="758" alt="screen shot 2016-02-02 at 11 54 14 am" src="https://cloud.githubusercontent.com/assets/13420618/12756843/8bb9936e-c9a3-11e5-8d5e-4d7b99808069.png">

If we all agree on showing the new design (which I, too, am raising my hand for), I am going to pass this to An

[2016-02-02 17:26] akainic commented on #83
@emilyville @ayaleloehr The reason why there are 3 lines is because this is a date select (a line each for month, day, and year). It looks funny because of the way it's styled. I could simply change the styling to look something like this:
<img width="987" alt="screenshot 2016-02-02 11 14 13" src="https://cloud.githubusercontent.com/assets/3886085/12757756/58f76506-c9a7-11e5-8fa0-24740da92c64.png"

[2016-02-02 21:36] emilyville commented on #83
@akainic I know this problem well - we have encountered it with simple form, too! The simple form solution - if I'm remembering correctly - is to strip all styles, leaving you with the same problem of generating a bunch more custom CSS.

It's a long shot, but since we do have some other columns built in, do you think moving the date to the last line might give us more options for columns w/o addin

[2016-02-03 06:33] emilyville commented on #93
Looks great! Let's add another link style soon, but in a different change
and we'll loop in @dannychapman

[2016-02-03 14:06] akainic commented on #83
@emilyville Thanks for looking at this! I was reading the docs on [simple form](https://github.com/plataformatec/simple_form) and it looks like they have an attribute you can pass to the input that wraps the input and label in a wrapper div, `wrapper_html`, which you can then specify the class for. I haven't actually tried using it, but it looked like it might solve this problem!

I tried moving t

[2016-02-03 15:34] gnakm commented on #27
I sketched up the table like the one proposed but I don't think it works with this list. It's kind of hard to read and we probably need to make more decisions on the sections. I made another one that's similar and more like the US web standards.

We may need to play around with the title of each column. Also I took out the star in the Add to favorites button because it felt redundant unless we wer

[2016-02-03 15:55] emilyville commented on #27
Looks awesome! I like the second more verbose column titles, and totally agree the stars are redundant.

One small additional thing... We might want to collapse the top search section with an "advanced" on load so users know it's there - same as we're doing with job search results page.

[2016-02-03 16:03] gnakm commented on #27
@emilyville good point. I'm going to mock up a basic search with the top 4 sections: keywords, match, MOC and location

[2016-02-03 17:03] gnakm commented on #27
@emilyville What about moving the search button to the right? I was brought up for the job seeker site too and I think it was mocked up that way. I don't know if this makes any difference at all but I think it makes more sense to put the location under the keyword instead of MOC when it's in basic search because it feels like it goes more hand in hand with keyword. May make no sense at all.

Basic

[2016-02-03 17:34] maryannbrody commented on #120
This issue is on hold -- decided to conduct this research later in the schedule (conducting stakeholder research instead)

[2016-02-03 18:36] rcarthur commented on #120
Let me know, MaryAnn.
On Wed, Feb 3, 2016 at 11:34 AM Mary Ann Brody <notifications@github.com>
wrote:

[2016-02-03 19:25] akainic opened #126 "Project still using hashrockets"
Convert where possible!

[2016-02-03 20:57] emilyville commented on #121
After reviewing the IA from the content team, I think there is a fair amount of overlap and some pages will be created in jekyll that will make the pages here redundant, and to be removed.

Starting a list here (likely any landing page and soleley content page):
https://www.vets.gov/veterans-employment-center/
https://www.vets.gov/veterans-employment-center/for_job_seekers
https://www.vets.gov/vet

[2016-02-03 21:04] #126 closed

[2016-02-03 22:10] gnakm commented on #122
@emilyville @dannychapman Me 3! No bringing videos over. I talked to Meg who was working on content for VECI and she mentioned wanting lots of videos on Vets.gov and I kindly explained to her that we will make sure the videos will be reached but our voice and tone is not about the imageries. I digress.

One thing to note is, I saw a usability test where a user was redirected to va.gov and she was

[2016-02-05 00:14] gnakm commented on #69
@MarinaMartin Unfortunately, I think the "scroll" text gets totally missed. And @cfeeney-va  I don't think an auto-scroll is the best solution because I think it won't be user-friendly for our not tech-savvy or older users. What needs to happen is for the the results to be right underneath the search box. Here is a quick solution however I think we need to talk about to copy. It's not that informa

[2016-02-05 14:40] dannychapman commented on #121
Makes sense to me!

[2016-02-05 15:43] emilyville commented on #69
This looks awesome! Once this is out we can tag the content people for some
new copy - I don't think it's in the ia they sent yesterday.

[2016-02-05 16:54] plusjeff commented on #121
From a deployment standpoint, we might have to change the URLs for the Rails components of the VEC. Static content might be able to to live at `/veterans-employment-center` URLs, but we'd need `/veterans-employment-center/skills-translator` to go to the Rails application, etc.

[2016-02-05 18:44] ayaleloehr commented on #121
@plusjeff agreed. This discussion happened in the #veterans-employment-center slack channel as well, and came to the same conclusion, which is great. Thinking there are around 5-10 URLs that would go to the Rails app, and the rest to the static site.

[2016-02-05 21:14] gnakm commented on #55
I changed the button color to something we have in our palette but the contrast is still poor.
<img width="782" alt="screen shot 2016-02-05 at 4 09 42 pm" src="https://cloud.githubusercontent.com/assets/13420618/12859278/2356c9cc-cc23-11e5-958b-1f74be3f67d7.png">

What if we made the buttons on the card light grey and have them have linked/ underlined text when hovered over?
<img width="379" alt="

[2016-02-05 21:23] emilyville commented on #55
Wondering - what if instead of buttons we used links in the cards? Occurs
to me a button in a card might be redundant. Then we can list multiples
links, a thing we wouldn't be allowed to do with buttons.

[2016-02-06 01:17] gnakm commented on #55
@emilyville Yes! And I foresee more links in cards coming up as we build more content.

Nothing fancy here. Copying GDS's approach
<img width="308" alt="screen shot 2016-02-05 at 7 57 34 pm" src="https://cloud.githubusercontent.com/assets/13420618/12863526/19499096-cc45-11e5-8b0b-b078ad910993.png">

<img width="740" alt="screen shot 2016-02-05 at 8 14 08 pm" src="https://cloud.githubusercontent.co

[2016-02-07 16:12] emilyville commented on #55
Awesome! Let's do it! It will definitely fix the button color contrast
issue for now.

and we'll sync with @dannychapman on it soon.

[2016-02-07 20:57] ayaleloehr commented on #118
Changed a few add-ons on Heroku to save us money overall while getting us back under the search index size limits. Still pursuing moving to AWS, but 2/7 date is no longer the driving factor.  Current blocker is waiting on USAJOBS to whitelist new IP addresses for us.

[2016-02-08 15:04] gnakm opened #130 "Employer's Profile requirements"
Currently, companies can make multiple entries (parent company, subsidiary, branches). Ex. We saw two entries for Home Depot and they both had different number for hiring commitments. How do we make sure that companies go in and edit accurate information without conflict or without overriding informations?

[2016-02-08 15:16] gnakm opened #131 "EIN # Minimal Length"
The EIN section needs to require 9-digits. Currently, there are entries with less and has not been disapproved. https://www.vets.gov/veterans-employment-center/employers/15891/edit

<img width="354" alt="screen shot 2016-02-08 at 9 57 02 am" src="https://cloud.githubusercontent.com/assets/13420618/12889378/9e31a542-ce4c-11e5-892d-bd89c22b9311.png">

Should look like:
![artboard 2](https://cloud.gi

[2016-02-08 16:13] gnakm opened #132 "Hiring Commitment Field"
Field must be greater than 0.

![artboard 1](https://cloud.githubusercontent.com/assets/13420618/12891190/d5c52648-ce54-11e5-8287-59a390fd79ba.png)

https://www.vets.gov/veterans-employment-center/employers/15891/edit

[2016-02-08 16:27] gnakm opened #133 "Change Title of "Make Hiring Commitment""
During a usability test, a VEC admin said that "Making a Hiring Commitment" makes him assume that he will make an actual hiring commitment when it's really a list of existing commitment entries. The "Stand with Veterans.." description probably fit better under "Your Hiring Commitment Card" https://www.vets.gov/veterans-employment-center/employers
<img width="335" alt="screen shot 2016-02-08 at 11

[2016-02-08 19:18] gnakm opened #134 "Search for Employers Default Setting"
Currently the most recent entries are not showing.
<img width="659" alt="screen shot 2016-02-08 at 2 13 54 pm" src="https://cloud.githubusercontent.com/assets/13420618/12896115/392db40c-ce6e-11e5-8f59-e35ae3dbdefc.png">

It only comes up if you click on the arrows on the date added twice.
<img width="531" alt="screen shot 2016-02-08 at 2 17 13 pm" src="https://cloud.githubusercontent.com/assets/13

[2016-02-08 19:21] gnakm opened #135 "Search for Employers Add/Edit Default"
When you add or edit anything on the search for employers page, it automatically goes back to default opposed to where you left off. https://www.vets.gov/veterans-employment-center/employer-list

[2016-02-09 18:16] gnakm commented on #97
We got the copy approved by Rosye today:

**Protect Yourself**: Job seekers often find themselves targets of phishing scams. Please know that VA does not ask for your personal information or financial information via email. If you get an email from an employer asking for your personal or financial information, please be cautious.  For more information on this, and to find out what to do if you are

[2016-02-09 18:22] gnakm commented on #89
I am going to close this because we had our usability testings with John Thompson and Robert Sanders on Friday 2/5 and our new findings have been broken down into issues.

[2016-02-09 18:22] #89 closed

[2016-02-09 19:47] plusjeff opened #136 "Increase test coverage to >= 90%"
The goal of this task to ensure that at least 90% of the lines of code are covered by test coverage.

Accomplishing this involves:

- [ ] Use SimpleCov to measure coverage (Road Runner provides an example)
- [ ] Increase unit test coverage (Rpsec)
- [ ] Increase integration test coverage (Rspec, Capybara)
- [ ] Enable Travis CI builds
- [ ] Enable protected branches (PR merges cannot be completed

[2016-02-10 18:56] #62 closed

[2016-02-11 14:32] #96 closed

[2016-02-11 14:32] #74 closed

[2016-02-11 19:30] gnakm opened #139 "Limit Character Length in Cards"
Limit Character Length in Cards

This may fix a lot of bugs but the texts are getting cut off in different cards depending on the device. We should limit the character length (to be added to roadrunner).

[2016-02-12 16:16] #97 closed

[2016-02-12 16:26] #93 closed

[2016-02-12 21:22] akainic opened #142 "Need hover styling on add skills on resume builder"
No hover styling on adding jobs:
<img width="1057" alt="screenshot 2016-02-12 16 21 23" src="https://cloud.githubusercontent.com/assets/3886085/13020682/cd83f47a-d1a4-11e5-9817-527cd3185267.png">

Mimic hover styles on adding locations:
<img width="1043" alt="screenshot 2016-02-12 16 22 18" src="https://cloud.githubusercontent.com/assets/3886085/13020691/d339e1ae-d1a4-11e5-9ac0-e293afad506d.png">

[2016-02-12 21:36] #45 closed

[2016-02-13 02:21] koconnor719 opened #143 "search functionality - minimum education level"
christine can you pls. research this and see what issue is--you can give robert a call if you need details:)
-----Original Message-----
From: Sanders, Robert, VBAVACO
Sent: Friday, February 12, 2016 02:22 PM Eastern Standard Time
To: VA VETS GOV
Cc: Yale-Loehr, Alex
Subject: Search functionality issue

I would like to flag a search issue regarding the “Minimum Education Level” criteria in the VEC™

[2016-02-14 13:29] ayaleloehr opened #144 "Change coursera link"
Coursera link should point to their new SurveyMonkey form so people within the VA network can access it (previously was a Google Form).

https://www.surveymonkey.com/r/QSGQRFN

[2016-02-14 13:30] ayaleloehr commented on #144
And remind Alex to email Rebecca Tabor from Coursera once this is in production.

[2016-02-15 15:28] gnakm opened #145 "Careers and Employment Tool Links"
Let's discuss and mockup potential tool links/ buttons that will be added to this page. I will be mocking up and adding things as we go.

[2016-02-15 21:25] ayaleloehr opened #146 "Move to Ruby 2.3"
and make sure nothing breaks.

[2016-02-15 21:32] ayaleloehr commented on #136
Currently at 72% as of 2/15/2016

[2016-02-15 21:35] ayaleloehr commented on #118
USAJOBS says they are still waiting to hear back from their security on whitelisting the new IPs.

[2016-02-16 16:02] plusjeff commented on #136
Cool! We'll have to plan how to incrementally increase it over the next few sprints. For example, get it to 80% by the end of this sprint, then get it to 90% the next sprint.

[2016-02-16 16:11] akainic commented on #135
@gnakm Can you include a screenshot please? Not sure how to recreate this.

[2016-02-16 16:38] gnakm commented on #135
@akainic Sorry that was a super vague description with no reference.

So this is very strange it is no longer showing this issue that I was talking about before but I'm seeing another issue. @ayaleloehr Do you remember the default problem we were having before when searching for employees? Was it that it wasn't jumping to the results?

[2016-02-16 16:43] gnakm commented on #135
I don't remember if this was the issue or if this a new issue:

When I go to this page https://www.vets.gov/veterans-employment-center/employer-list (_you have to login in via linkedin or google_) and make changes in an employer's profile (I've been using Marina's to test), it doesn't close go back to the default page but goes to the top of the Employers profile.

<img width="1307" alt="screen sho

[2016-02-16 16:49] akainic commented on #135
Hm, I'm not seeing the bottom screenshot where there are "show", "edit", and "delete" links.

[2016-02-16 22:26] gnakm commented on #135
@ayaleloehr Could you give @akainic Employer admin rights?

[2016-02-17 01:33] emilyville commented on #122
Reviving this!

First off pinging @rcarthur since I think he originally asked the question. Also - @koconnor719 since this came up today.

I think we're agreed on no videos (unless we make them, but this is not in the plan at all.) And only linking off to them. There are two issues - one being that the GI Tool already has a video embedded. I'll see how set we are on keeping that one, and then also

[2016-02-17 01:33] #122 closed

[2016-02-17 02:47] ayaleloehr commented on #135
@gnakm Admin rights given and also figured out steps for setting up admin rights locally. Have passed info to @akainic and will figure out how to document better for others as well.

[2016-02-17 02:56] ayaleloehr opened #147 "Change README to use rbenv instead of rvm"
This will get us consistent with the other vets.gov projects.

Question to self before making the change: will changing this break anything? I currently believe the answer is no once we're fully off of capistrano (need to get Ansible scripts working before fully off), but need to verify.

[2016-02-17 02:56] ayaleloehr opened #148 "remove Capistrano code/setup"
Currently blocked until Ansible scripts are complete, but once that happens the capistrano specific code should be removed.

[2016-02-17 02:57] ayaleloehr opened #149 "Make instructions more clear on making yourself a VA admin locally"
Currently the README instructions are incorrect.

[2016-02-17 14:12] ayaleloehr commented on #73
I think this has been done but will confirm this sprint.

[2016-02-17 14:15] ayaleloehr opened #150 "Increase test coverage to 80% this sprint"

[2016-02-17 14:25] MarinaMartin commented on #73
This has not because LinkedIn took forever updating the rProfile for the new one. We can do it now though!

[2016-02-18 02:50] koconnor719 commented on #143
reassiging to @ayaleloehr given it's been escalated by Rosye.  @MarinaMartin

[2016-02-18 14:01] #110 closed

[2016-02-18 14:01] koconnor719 commented on #112
this process has started as planned;  POC is Melissa Heintz; marking it "done"

[2016-02-18 14:02] #112 closed

[2016-02-18 14:04] koconnor719 opened #151 "Follow up w/ Rosye on landing page mockups"
Gina provided rosye w/ 2 mockups for landing page and job seeker page; need to validate w/ rosye copy is ok or make modifications.

[2016-02-18 15:03] ayaleloehr commented on #143
On it. I believe the issue is with this line: https://github.com/department-of-veterans-affairs/veterans-employment-center/blob/master/app/controllers/veterans_controller.rb#L30

Have committed to having this fixed and pushed to production this sprint.

[2016-02-18 16:24] koconnor719 commented on #143
Awesome.
Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: Alex Yale-Loehr <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/veterans-employment-center <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, February 18, 2016 at 10:03 AM
To: department-of-veterans-affairs/veterans-employment-center <vetera

[2016-02-18 16:35] koconnor719 commented on #119
completed

[2016-02-18 16:44] koconnor719 opened #152 "mod waffle board"
delete ready for production; mod staging colums as needed

[2016-02-18 16:46] #119 closed

[2016-02-18 16:49] koconnor719 commented on #76
complete = look in IE10

[2016-02-18 16:49] koconnor719 commented on #111
completed draft!

[2016-02-18 16:49] #111 closed

[2016-02-18 16:50] koconnor719 opened #153 "content concurrence"

[2016-02-18 16:50] koconnor719 commented on #153
get final validation for IA from Rosye

[2016-02-18 16:54] koconnor719 opened #154 "set up meeting re plan for launch (jekyll / backend stuff)"
this issue originated with issue #121

Is to prepare for new careers and employment launch, and migrating pages between repos

[2016-02-18 16:55] #113 closed

[2016-02-18 16:55] MarinaMartin commented on #76
@emilyville Will Roadrunner have a browser testing feature like Sauce Labs?

[2016-02-18 16:55] #39 closed

[2016-02-18 16:58] koconnor719 commented on #145
closed included in roadrunner

[2016-02-18 16:58] #145 closed

[2016-02-18 17:02] koconnor719 commented on #142
blocker: local setup not working

[2016-02-18 17:06] #121 closed

[2016-02-18 17:09] #77 closed

[2016-02-18 17:10] koconnor719 commented on #77
now have the 508 office checkin this for us

[2016-02-18 17:11] #95 closed

[2016-02-18 17:12] #92 closed

[2016-02-18 17:12] #120 closed

[2016-02-18 17:15] #86 closed

[2016-02-18 17:16] koconnor719 commented on #82
anne fixed buttons in other places; will confirm fixed here.

[2016-02-18 17:17] koconnor719 opened #155 "combine all MOCs issues into one"

[2016-02-18 17:18] koconnor719 opened #156 "Explorer IE 11 issue w/ feedback forum"

[2016-02-18 17:20] koconnor719 commented on #156
get user voice contacts from emily

[2016-02-18 17:23] koconnor719 opened #157 "link in cards (roadrunner)"

[2016-02-18 17:23] #79 closed

[2016-02-18 21:08] gnakm commented on #151
Wed Feb 24 11:30a - 11:45a
Things to show her:

- 2 Mock ups (bring them because she won't have them open)
- Ask about Coursera Logo
- Check in about Usability Videos (have the video uploaded and ready on laptop).

[2016-02-18 21:19] koconnor719 commented on #151
Sounds good!

Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: Gina Kim <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/veterans-employment-center <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, February 18, 2016 at 4:08 PM
To: department-of-veterans-affairs/veterans-employment-center <veterans-

[2016-02-18 21:32] akainic commented on #82
The fix I made (which has been merged, but not yet deployed), changed the proportions of the button, but does not make it longer. It will look like this once deployed:

<img width="1038" alt="screenshot 2016-02-18 16 31 15" src="https://cloud.githubusercontent.com/assets/3886085/13158905/1e24f750-d65d-11e5-87f5-bc857ccb44e4.png">

If we want the button to be longer, we can definitely do that, but

[2016-02-18 21:34] akainic commented on #82
Here is the fix I made: https://github.com/department-of-veterans-affairs/veterans-employment-center/pull/140/files#diff-2617b370d37c86f9ce523807fb8bc9faR429

@koconnor719 Let me know if you need any other info!

[2016-02-18 21:46] koconnor719 opened #158 "Finish VR&E"
complete first draft of VR&E writing for concurrence

[2016-02-18 21:46] koconnor719 opened #159 "draft homeless program IA"

[2016-02-18 21:47] koconnor719 commented on #153
completed at IPT last week

[2016-02-18 21:47] #153 closed

[2016-02-18 21:48] koconnor719 opened #160 "Concurrence Careers and Employment"

[2016-02-18 21:49] koconnor719 commented on #160
Start content concurrence 2/22 and receive some feedback

[2016-02-18 21:50] koconnor719 opened #161 "Build pages in staging"
start building out pages for careers and employment

[2016-02-18 21:50] koconnor719 commented on #161
does not include content; just pages

[2016-02-18 22:14] ayaleloehr opened #162 "Fix link to DOL American Job Center"
When utilizing the link to DOL (through VEC™), all users are experiencing technical difficulties when trying to locate the nearest AJC utilizing the AJC finder.  DoL stated that:  When you click on the Find an American Job Center, it is now connecting to  http://jobcenter.usa.gov/.
It should instead connect to http://www.servicelocator.org/onestopcenters.asp

Hopefully this can be a quick fix. Tha

[2016-02-19 14:15] ayaleloehr commented on #152
I started doing this and then realized that it would be awesome to have consistency across projects, so reassigning to @plusjeff.

My current thought is the columns should be:

Backlog.
Current Sprint.
In Progress.
PR created.
In Staging.
Done.

[2016-02-19 15:37] MarinaMartin commented on #152
The problem we tried to solve with "in staging" and "ready for production" was for items stakeholders need to review in staging and should not move to production until approved. Open to another way to do it but this list seems to go back to missing that distinction.

[2016-02-19 15:50] koconnor719 opened #163 "help onboard tiffany"

[2016-02-19 15:50] koconnor719 opened #164 "Check in w/ Christine"
review items that were assigned to christine while she was out and make sure level of effort is good for week 2 of this sprint

[2016-02-19 17:12] koconnor719 opened #165 "Ability to delete profiles"
related to #963

[2016-02-19 19:01] emilyville commented on #163
Let's hold off on this - had some conversations. Closing for now but I will circle back or reopen as needed.

[2016-02-19 19:01] #163 closed

[2016-02-19 19:39] gnakm opened #166 "Change Default Error Message for Resume Builder"
It should say "[#] errors prohibited this _resume_ from being saved.

<img width="767" alt="screen shot 2016-02-19 at 2 37 13 pm" src="https://cloud.githubusercontent.com/assets/13420618/13186919/591b643e-d716-11e5-8ee2-6bd7f7813879.png">

[2016-02-20 15:36] ayaleloehr commented on #152
I believe the current thinking is to have Heroku auto-deploys be used for stakeholder review and PRs not merged into master until stakeholder approval has occurred (this has not yet been implemented). The more I think about this though, I'm not necessarily positive this is a good idea or will work well for larger stakeholder approvals that will be split across multiple PRs.  @plusjeff and I will c

[2016-02-22 15:39] gnakm commented on #166
Now issue #167

[2016-02-22 15:39] #166 closed

[2016-02-22 16:10] plusjeff commented on #152
Definitely agree that the columns need revision, as we haven't really been queueing things up the way we originally expected.

@ayaleloehr I like your list! My only suggestion is to remove the "PR created" column to further simplify it. If PRs are linked to an Issue (via the name, branch name, or the opening comment), then Waffle will tuck them into the original Issue anyway, which will be In Prog

[2016-02-22 16:11] plusjeff commented on #152
After we decide on what we want here, we can change this across the projects. I've been keeping an eye on all the projects, and all are similarly not using the excess columns.

[2016-02-22 16:15] gnakm commented on #55
Whilst we are still designing a solution for the "link in card/ are these cards or buttons" issue in roadrunner, I was wondering if maybe for this particular issue in VEC, we could just get rid of the "Find Candidate, View Candidate" link. It seems kind of unnecessary to have the card be titled "Your Favorite Veterans" and have a highlighted link to _view_ them. Was there a reason for this link to

[2016-02-22 16:56] ayaleloehr commented on #143
Error being thrown was `ActionView::Template::Error (PG::Error: ERROR:  missing FROM-clause entry for table "experiences"
LINE 1: ...d" IS NOT NULL) AND "veterans"."visible" = $1 AND "experienc...`

[2016-02-22 22:16] emilyville commented on #55
I think you're saying the link in the card is redundant, and we could just have the whole card go to one link? I totally agree. I don't know how we ended up with it as it is (but it was me who added it) beyond "old way" + "new way" = weird combination of ways.

[2016-02-22 22:53] cfeeney-va opened #169 "Link to VEC is incorrect on coursera page"
If you go to: https://www.coursera.org/about/programs, both links to VEC aren't correct

[2016-02-22 23:03] emilyville commented on #152
This would be a great agenda item for out sprint planners planning meeting on Thursday! I will add @plusjeff

[2016-02-22 23:12] #144 closed

[2016-02-23 02:02] cfeeney-va commented on #81
Trashcan icon appears and works to delete skills when I checked in IE11 (under "Your Civilian Skills").  Do we have any more info on this?

[2016-02-23 14:03] plusjeff commented on #152
Yes indeed!

[2016-02-23 17:10] koconnor719 opened #171 "MOC results bugs"
user errors reported; pls. retest and mod the skills translator; not sure where these results are coming from? @MarinaMartin

12B: Homelessness, Wrinkles and Judaism

11C: Street Ministry

68W: Kung Fu

Air Force Missile Specialist: Breast Imaging

[2016-02-23 17:18] koconnor719 commented on #171
it’s not “issues” so much as it treats all LinkedIn skills the same - so until Veterans are using it
and increasing the importance of relevant skills, the not-relevant skills (such as above) still appear.

[2016-02-23 18:51] ayaleloehr opened #174 "Error authenticating to Google locally when using relative URL"
When I use VEC locally for development at "localhost:3000" and I have `GOOGLE_OAUTH_CLIENT_ID` and `GOOGLE_OAUTH_CLIENT_SECRET` set appropriately, I can authenticate properly with Google and log in as an employer.

When I set `RAILS_RELATIVE_URL_ROOT=/veterans-employment-center`, and try to authenticate, however, it gives me the below error (client_id cut off on purpose in that image...).  Since w

[2016-02-23 19:37] #98 closed

[2016-02-23 20:13] ayaleloehr commented on #81
@MarinaMartin do you know the origin of this issue?  My thought is we close it since we cannot reproduce.

[2016-02-23 20:34] MarinaMartin commented on #81
When I log into vec from a Windows machine at VA I do not see the trashcan

[2016-02-23 21:06] ayaleloehr commented on #169
Emailed Rebecca Tabor at Coursera requesting they update the links.

[2016-02-23 21:13] cfeeney-va commented on #81
Verified that I also don't see the trashcan when on the VA network.  Icon exists on the page and works, but there is no picture (aka it looks like you're clicking on nothing but the skill will be deleted)

[2016-02-23 21:20] #94 closed

[2016-02-24 00:15] ayaleloehr opened #176 "remove all references to GI Bill in VEC repo"
looks like it's in app/models/user.rb, config/initializers/devise.rb, and README.md.

Also remove from staging and production configuration files.

Make sure this doesn't break anything.

[2016-02-24 01:04] emilyville commented on #81
OHHH! this is likely the VA network icon issue. pinging @rickleegit and @plusjeff since I think they've encountered before.

[2016-02-24 01:20] rickleegit commented on #81
We were never able to resolve this for CT. We tried Jeff's fix. No joy. :-(

On Tue, Feb 23, 2016 at 8:04 PM, emilyville <notifications@github.com>
wrote:

[2016-02-24 15:48] cfeeney-va commented on #81
Thanks @emilyville and @rickleegit!  @plusjeff, do you guys know what the underlying issue is?

[2016-02-24 16:33] cfeeney-va commented on #108
Importing from linkedin just posts to createresume, so it deletes anything you've entered already (manual info, skills, military history...)  :(

[2016-02-24 16:59] plusjeff commented on #81
Nope. Sorry! I believe what I tried was forcing IE into Edge mode (maybe?) That involved putting this line at the top of the file to ensure it's rendered in the latest rendering engine available to IE:

`<meta http-equiv="X-UA-Compatible" content="IE=edge">`

The VA automatically forces pages to render in IE7 mode, but this overrides that and forces a newer renderer to run. But alas, don't think i

[2016-02-24 17:11] rickleegit commented on #81
svgs might work?

On Wed, Feb 24, 2016 at 11:59 AM, Jeff Maher <notifications@github.com>
wrote:

[2016-02-24 17:37] gnakm commented on #65
Rosye approved the removal of all logos.
Now Issue #178

[2016-02-24 17:41] emilyville commented on #81
Are we totally stuck on an icon? Making icons work at the VA is a frustrating problem (because it's not veteran facing)

I suggest...
in css add something like
`content: "delete"`
that shows up in lieu of the icon.

And if that's too buggy, just remove the icon completely and have it say "delete".

@gnakm or @dannychapman or @akainic might also have ideas!

[2016-02-24 17:46] rickleegit commented on #81
"Making icons work at the VA is a frustrating problem (because it's not
veteran facing)" - yeah it is. I punted on it for the time being on CT.

Is it worth looking at a solution for future apps? Probably less of an
issue for the content heavy pages, though.

On Wed, Feb 24, 2016 at 12:42 PM, emilyville <notifications@github.com>
wrote:

[2016-02-24 17:47] emilyville commented on #81
I think the solution in general has been to use icons not at all or very sparingly (and where they supplement existing content - so if they aren't there no functionality is lost)

but we haven't been diligent about this - and we have exceptions.

[2016-02-24 17:48] dannychapman commented on #81
I'd also try to avoid icon fonts from an accessibility perspective. That said, SVG, or plain old icon sprits would be tenable when we do have an exception. In general though, I think the threshold should be fairly high in terms of not using icons by default.

[2016-02-24 17:49] #65 closed

[2016-02-24 20:05] cfeeney-va opened #179 "Allow information to be entered into resume before LinkedIn import to persist."
Follow-up to #108

Current implementation of the "Import from LinkedIn" feature on the Resume page redirects to a new resume page with just the LinkedIn data filled out.  If any information was previously filled out (either manually or from the skills translator) then that data is lost.  Quick solution to losing data from the skills translator was to remove the option to import from multiple place

[2016-02-24 20:41] akainic commented on #81
I like @emilyville's backup solution of using before or after content! Is that possible to do conditionally?

[2016-02-25 00:36] gnakm commented on #151
Next action item for this is following up with Christi with mockups

[2016-02-25 15:37] cfeeney-va commented on #156
Was able to replicate this problem in IE11.  Seems to be an issue with IE settings.

Go to Settings->Internet Options->Advanced->Security

If "Use SSL 2.0" is checked, you will have this issue (where you can view vets.gov but not UserVoice).

Uncheck "Use SSL 2.0" and check "Use SSL 3.0" and "Use TLS 1.0" and you should be able to view UserVoice upon page reload (Note: this may have to be done by

[2016-02-25 19:27] ayaleloehr opened #182 "Enumerate pages that will still be in Rails app"
Many pages are moving to vets-website Jekyll site. Which ones are staying in this repo (and we will therefore need specific callouts in the reverse proxies for...)

[2016-02-25 21:40] cfeeney-va opened #183 "Entering partial info into Military Experience in Resume Builder doesn't behave as expected"
For other sections, if you complete part of the section and preview your profile, that information will show in the preview.  For Military Experience, if you only fill out the MOC you'll see a blank section in your preview.  If you fill out the MOC and an incorrect duty station (I put "washington, dc") the app crashes.  If you fill out a MOC and a branch of service (11B, Army) then the app crashes

[2016-02-25 22:37] #151 closed

[2016-02-25 22:53] gnakm commented on #157
2/25 I'm moving this from current sprint to backlog because 1. This is sort of the next step after content becomes more refined and 2. We're still iterating our ideas for Roadrunner.

[2016-02-26 05:29] gnakm commented on #151
Emily did this but I'll take a stab at it.
Primary Green Button = #2e8540
Secondary - Border = #323a45
                     Text = #0071bc

The button focus for both should be the same one used in the web standards: https://playbook.cio.gov/designstandards/buttons/

[2016-02-26 12:59] #146 closed

[2016-02-26 12:59] #147 closed

[2016-02-26 13:16] #55 closed

[2016-02-26 14:19] plusjeff commented on #152
We didn't get to this during our Thursday conversation, but will hold a vote in Slack to see if we can change it up.

[2016-02-26 14:31] plusjeff commented on #152
Vote is here: https://dsva.slack.com/archives/vetsdotgov/p1456496901000312

[2016-02-26 15:51] #162 closed

[2016-02-26 16:08] #81 closed

[2016-02-26 16:34] ayaleloehr opened #188 "MOC missing or inaccurate"
This is a collection of prior issues that are all related and I thought should be gathered in one place to fix together.

Issue #80 - MOC 1110 Navy is currently listed as "Tomahawk Weapon Maintenance Technician" but a tester who was in Navy and was 1110 MOS is telling me that code is Surface Warfare Officer?

Issue #67 - valid MOC codes are not being found when i search Army 15W or Coast Guard 56;

[2016-02-26 16:34] ayaleloehr commented on #80
Closing because #188 includes this issue.

[2016-02-26 16:34] #80 closed

[2016-02-26 16:35] ayaleloehr commented on #67
Closing because #188 includes this issue.

[2016-02-26 16:35] #67 closed

[2016-02-26 16:35] ayaleloehr commented on #78
Closing because #188 includes this issue.

[2016-02-26 16:35] #78 closed

[2016-02-26 16:36] ayaleloehr commented on #188
The solution to this may also need to include a way to include MOCs that used to exist but no longer do. Not sure if that is in scope, but feels like it should be.

[2016-02-26 16:38] ayaleloehr opened #189 "Skills translator issues and inconsistencies"
The skills translator needs to consistently return more relevant skills (and, most importantly, not return inappropriate skills).  This issue is an aggregate of two other issues that should be resolved together.

#106 - Copied from issue 1085 in the vets-website repo: The Skills Translator lists the correct job title for USMC MOS 2676 (2676 : Central Asian Cryptologic Linguist), but when you impor

[2016-02-26 16:39] ayaleloehr commented on #106
Closing because aggregated in #189

[2016-02-26 16:39] #106 closed

[2016-02-26 16:39] ayaleloehr commented on #171
Closing because aggregated in #189

[2016-02-26 16:39] #171 closed

[2016-02-26 16:40] #155 closed

[2016-02-26 16:43] emilyville commented on #157
Good call. This one turned into a bigger thing ;)

[2016-02-26 16:55] #149 closed

[2016-02-26 17:01] gnakm commented on #90
![artboard 1](https://cloud.githubusercontent.com/assets/13420618/13359150/ad3b488a-dc80-11e5-8428-363b32235fa2.png)

![artboard 2](https://cloud.githubusercontent.com/assets/13420618/13359154/af0b1a28-dc80-11e5-9da5-6b5a95b086da.png)

[2016-02-26 17:03] #164 closed

[2016-02-26 17:04] koconnor719 commented on #76
gina needs to get a tool for this (talk to emdash)

[2016-02-26 17:06] gnakm commented on #139
Related to #186

[2016-02-26 17:13] #154 closed

[2016-02-26 17:28] cfeeney-va commented on #108
Closed pull request; as discussed current solution will be to put text on the page that warns users to save profile before linkedin import or info will be lost

[2016-02-26 18:41] gnakm opened #190 "Take out Star Icon in "Add to Favorites" Button"

[2016-02-26 18:43] gnakm commented on #190
<img width="312" alt="screen shot 2016-02-26 at 1 39 57 pm" src="https://cloud.githubusercontent.com/assets/13420618/13361771/b4b46dae-dc8e-11e5-87e5-cef6ad88636c.png">

Redundant to have both "Add to Favorite" text and star on button.

[2016-02-26 18:56] cfeeney-va commented on #156
called and emailed contact with fix

[2016-02-26 19:05] #190 closed

[2016-02-26 19:39] koconnor719 opened #192 "explorer 9 issue"
Attached is the screen shot of Employment Center via as viewed from an internally facing GFE laptop with Internet Explorer version 9.0 (https://www.vets.gov/veterans-employment-center/).

![vec pic](https://cloud.githubusercontent.com/assets/13770771/13363311/b3869440-dc96-11e5-9b99-c8036b60f773.png)

[2016-02-26 19:58] gnakm opened #193 "Make Code Snippet for Post a Job page"
@mollyblake Following up on our convo.
https://www.vets.gov/veterans-employment-center/how-to-post-jobs

The schema.org JSON-LD JobPosting Elements Section
Possibility -- Turn it into a table

A schema.org JSON-LD Example Section
Possibility -- Collapse and Hide option for code with Title and description above it https://playbook.cio.gov/designstandards/visual-style/

[2016-02-26 20:01] mollyblake commented on #193
Thanks @gnakm appreciate your help with this!

[2016-02-27 20:27] koconnor719 opened #194 "Add skills translator language"
pls. add the following language someplace more prominent on the skills translator page (in the next production release 3/3); this replaces the current paragraph (The skills translator is based on a new big data partnership with LinkedIn. The more Veterans who use the tool, the better the suggestions will become over time. Thoughtfully finding your own skills will help future Veteran users get even

[2016-02-27 22:36] MarinaMartin commented on #159
@koconnor719 Shouldn't this be in vets-website and not VEC?

[2016-02-27 22:39] MarinaMartin commented on #28
@koconnor719 I think this is OBE. If not, it should be assigned to the content team, since we didn't carry this page over and I suspect we wouldn't as-is.

[2016-02-27 22:39] MarinaMartin commented on #38
@gnakm It seems from other stories we decided not to actively remove logos. If this is true, please just close this issue. Thanks!

[2016-02-27 23:20] MarinaMartin commented on #91
Jobs don't map back to a rank, not sure how we could do this. (The majority of jobs don't match to an MOS either.)

[2016-02-27 23:22] MarinaMartin commented on #33
Closing, supplanted by #193

[2016-02-27 23:22] #33 closed

[2016-02-27 23:24] MarinaMartin commented on #26
@koconnor719 I think this can also be closed unless content team thinks this page should exist.

[2016-02-27 23:26] MarinaMartin commented on #54
@emilyville I think this is fixed and can be closed?

[2016-02-27 23:27] #40 closed

[2016-02-27 23:52] MarinaMartin opened #196 "Does evaluations.js belong here?"
I think this was accidentally copied over from DEAP-C but I'm terrible at reading JavaScript, so I'd appreciate a second opinion. The parts I can read very clearly are from DEAP-C.

(in assets/javascripts)

[2016-02-28 00:03] MarinaMartin opened #197 "Remove social-icons images"
In assets/images

[2016-02-28 00:04] MarinaMartin commented on #197
Also remove delicious.png, email_32.png, and pinterest_small.png

[2016-02-28 00:08] MarinaMartin opened #198 "Remove AddThis references"
In:

helpers/search_helper.rb
views/static_pages/job_search.html.erb

[2016-02-28 00:20] MarinaMartin opened #199 "Are rake tasks running on AWS?"
Just checking, I'm not sure how to tell.

[2016-02-28 00:25] ayaleloehr commented on #199
Talked to @MarinaMartin to better understand this.

There is a rake task [here](https://github.com/department-of-veterans-affairs/veterans-employment-center/blob/master/lib/tasks/scheduler.rake) that should be run on a regular schedule. This is not currently occurring on AWS and needs to be set up.

[2016-02-28 01:07] #26 closed

[2016-02-28 01:07] #28 closed

[2016-02-28 01:10] koconnor719 commented on #159
closed here; will open new issue in website when we start homeless sprint (kickoff monday)

[2016-02-28 01:10] #159 closed

[2016-02-28 01:14] koconnor719 commented on #189
reassigning to marina to update since she is currently fixing this.

[2016-02-29 15:56] #38 closed

[2016-03-01 18:03] koconnor719 commented on #90
this sprint: complete

[2016-03-01 18:04] koconnor719 commented on #108
low priority; move back to backlog.

[2016-03-01 18:05] koconnor719 commented on #160
100% complete with content concurrence for Careers and Employment and VR&E; send over staging links to stakeholders (no changes anticipated)

[2016-03-01 18:06] koconnor719 opened #202 "Staging pages"

[2016-03-01 18:07] #72 closed

[2016-03-01 18:07] koconnor719 opened #203 "Staging Pages"
in progress; all pages completed by end of sprint

[2016-03-01 18:09] koconnor719 commented on #156
fixed; just need to confirm w/ Paulette.

[2016-03-01 18:11] koconnor719 opened #204 "user voice browser"
jeff to follow up w/ user voice Explorer issues can't access user voice

[2016-03-01 18:11] plusjeff commented on #204
See issue #156

[2016-03-01 18:11] koconnor719 commented on #152
remove ready for staging and ready for production.

[2016-03-01 18:12] plusjeff commented on #152
Vote is for removing Ready for Staging and Ready for Production columns.

[2016-03-01 18:12] koconnor719 commented on #165
done; need to write up test and have gina to check workflow.

[2016-03-01 18:12] koconnor719 commented on #139
moved to backlog

[2016-03-01 18:14] gnakm commented on #139
Realted to #157

[2016-03-01 18:15] koconnor719 commented on #150
complete by end of sprint

[2016-03-01 18:17] koconnor719 commented on #76
this should be tied to deployment; need this as a repeating task in operations.

[2016-03-01 18:17] koconnor719 commented on #76
gina will test out browsers this sprint and then we'll close.

[2016-03-01 18:18] koconnor719 commented on #44
to be completed this sprint.

[2016-03-01 18:18] koconnor719 commented on #35
add jeff to get alerts;

[2016-03-01 18:19] koconnor719 commented on #189
christine to code review.

[2016-03-01 18:21] koconnor719 commented on #188
alex to give christine info; completion criteria: MOC descriptions are correct.

[2016-03-01 18:22] #202 closed

[2016-03-01 18:28] koconnor719 commented on #118
high priority

[2016-03-01 18:30] #53 closed

[2016-03-01 18:32] koconnor719 opened #205 "Validate mockups w/ christi and rosye"
2 pages: landing page and job seeker page

[2016-03-01 18:34] koconnor719 commented on #205
possible gap w/ front end developer to build these pages

[2016-03-01 19:23] plusjeff commented on #204
Will notify User Voice that this occurs for users. Reached out to EmDash to get a contact.

[2016-03-02 00:49] MarinaMartin commented on #73
This is not done. Why was it closed?

[2016-03-02 01:47] koconnor719 commented on #73
we closed it in our sprint planning meeting; team confirmed it was done.

[2016-03-02 01:53] koconnor719 commented on #63
we closed this during sprint meeting last week with team.  also,  i don't think we want a "12/10" launch milestone on this correct (just checking b/c i removed it since it's in the past?)

[2016-03-02 01:54] emilyville commented on #63
Confirmed - this is done and shipped!

[2016-03-02 01:54] #63 closed

[2016-03-02 01:54] koconnor719 commented on #57
we closed this during sprint meeting last week?  looks like a number of issues have been reopened that were closed during sprints.  going forward i guess we need to make certain that things are closed?

[2016-03-02 01:57] ayaleloehr commented on #73
Conversation with Marina now confirms we can close this.

[2016-03-02 01:57] #73 closed

[2016-03-02 01:58] ayaleloehr commented on #57
^^ @plusjeff can you provide some context for why you opened this, what closing criteria will be, and who will own it?

[2016-03-02 17:55] #57 closed

[2016-03-02 17:55] plusjeff commented on #57
Think there might have been a hiccup with Waffle

[2016-03-03 04:19] koconnor719 commented on #194
gina i think this is a waffle issue with you being unassigned?

[2016-03-05 14:22] koconnor719 opened #209 "Set up next IPT meeting w/ team"
need to meet w/ IPT week of 3/7 to check in on content and enhancements; discuss w/ team during sprint planning on 3/6

[2016-03-05 14:24] koconnor719 opened #210 "start convos on Linked In badging"
start convos internally w/ team leads on IAM sprint and linkedin badging being a priority use case; start convos w/ Rosye on timing and confirm strategic direction for this--and decommissioning the profile bank.

[2016-03-07 14:55] KHarshawat opened #211 "Combine or eliminate double header when you login"
There are two headers here when you log in as an employer using Google. These should be combined or one should be eliminated and the information should be surfaced some other way.

![image](https://cloud.githubusercontent.com/assets/6335546/13572800/2e77c182-e44a-11e5-8cbe-66838d32316c.png)

[2016-03-07 14:56] cfeeney-va commented on #44
Update: functionality for this is complete and could theoretically be pushed out now.  Manual testing was fine, but I'm having issues implementing automated testing since it has to incorporate jquery responses.  I don't think our codebase currently does that (ex: "Add Experience" functionality does not have tests)

[2016-03-07 14:56] cfeeney-va commented on #156
Update: no response from Paulette

[2016-03-07 14:58] cfeeney-va commented on #143
This is an issue with the query we're using to pull data from the database.  The query is built correctly when only one field is filled out, but is missing a key part when they both are.  However, the functionality is a little obscured because it's using an open source library to build the queries.  Looking into where/how this happens.

[2016-03-07 14:59] cfeeney-va commented on #84
Update: completed, pending pull request

[2016-03-07 14:59] cfeeney-va commented on #188
Update: to do this week

[2016-03-07 14:59] koconnor719 commented on #44
What is required to complete/ close?
Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: cfeeney-va <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/veterans-employment-center <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, March 7, 2016 at 9:56 AM
To: department-of-veterans-affairs/veterans-employmen

[2016-03-07 15:01] koconnor719 commented on #156
Pls. resend email one more time and then I think we can just close this.  BUT can you post this info somewhere so the team has it for future reference?  I�m assuming this will come up again, so would be great if the team knew the answer to this.

Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: cfeeney-va <notifications@github.com<mailto:notifications@github.com>>
Reply-

[2016-03-07 15:03] cfeeney-va commented on #44
We should have automated testing for everything we add.  However, right now I've already put a full day of work into trying to get tests to run, so I was going to focus on other tasks for the time being.  This might require a discussion among the group about test coverage.

[2016-03-07 15:05] koconnor719 commented on #44
Great. Yes, check w/ alex/jeff on our team testing.

Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: cfeeney-va <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/veterans-employment-center <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, March 7, 2016 at 10:03 AM
To: department-of-veterans-affairs/v

[2016-03-07 18:13] #84 closed

[2016-03-07 19:48] #143 closed

[2016-03-07 22:35] #35 closed

[2016-03-08 16:50] ayaleloehr commented on #182
Staying in this repo:
/search_jobs
/skills-translator
/veterans
/createresume
/users
/employers
/commitments
/favorites
/employer-list
/download_employers
/download_veterans
/download_candidate_veterans

Pages I'm not sure about:
/for_job_seekers

Open questions:
- Is moving back and forth between the static site and app going to cause problems for logged in Veterans or employers?

[2016-03-08 16:53] ayaleloehr commented on #182
@gnakm and @emilyville my action from our meeting 2 weeks ago about what pages we should move to the static site was to come up with the routes/pages that will need to stay in the VEC repo. They are above, along with an open question that we will want to make sure we understand before moving pages around.

[2016-03-08 16:54] ayaleloehr commented on #88
fixed in production

[2016-03-08 16:54] #88 closed

[2016-03-08 18:42] emilyville commented on #90
The copy

(matches the copy) then

Three main options/cards:
1. Skills Translator
2. Resume Builder
3. Job search

After that...
Linkedin/Coursera

[2016-03-08 18:48] gnakm commented on #193
@emilyville Please put the snippet in a grey box :)

[2016-03-08 18:53] emilyville commented on #182
I'll be in office next week - let's set up a working session to plow through this work. Maybe 2 hours on Thursday or Friday @ayaleloehr ? I think you and I and maybe... @plusjeff ?

[2016-03-09 17:06] gnakm commented on #90
@emilyville

Would it be weird to have the LinkedIn/ Coursera sections in piano keys?
![side](https://cloud.githubusercontent.com/assets/13420618/13643476/180c9d4a-e5ef-11e5-8be2-92d57ffc5ac9.png)

I made a side nav version. This in general is up for a bigger discussion around navigation.
![piano keys](https://cloud.githubusercontent.com/assets/13420618/13643487/28891f9a-e5ef-11e5-8ff0-af983f2991b

[2016-03-09 19:57] emilyville commented on #90
Awesome! I'll add this page to the jekyll site - and from there comment back.

We chatted and decided to keep the coursera and linkedin as grey boxes - but put them underneath the blue three, for now.

[2016-03-09 20:43] koconnor719 commented on #188
@cfeeney-va can you pls. post status of where this is at today?

[2016-03-09 20:46] cfeeney-va opened #216 "User research on VEC profile deletion"
Hi Gina,
Let me know if you need any additional info for this ticket!
Follow-up for #165
Currently, functionality exists in VEC to delete created profiles (resumes) but seems non-intuitive.  We'd like to do some follow-up with users to see how it could be improved.
*Note: user must have a DS Login to see this workflow

1. Create profile on the "Build a Profile & Résumé" page
2. Click "Preview Your

[2016-03-09 20:47] cfeeney-va commented on #165
Closed, follow up task #216

[2016-03-09 20:47] #165 closed

[2016-03-09 20:51] koconnor719 commented on #150
@cfeeney-va can you pls. update status on this item.

[2016-03-09 20:55] cfeeney-va commented on #44
functionality has been written, will most likely go out at the end of this sprint.  needs some additional manual testing that's planned for this week.

[2016-03-09 20:58] cfeeney-va commented on #188
Spreadsheets emailed to Alex are missing some of the example data.  Looking for alternate sources of data; started with Navy codes.  I've already found multiple examples where we've imported two different values for the same code from different sources.  We seem to have used multiple sources for the data and not reconciled any differences.  Additionally, the source I've been looking at doesn't mat

[2016-03-09 21:20] koconnor719 commented on #188
emailed R.C.  3/9 to ask what the MOC authoritative data source is.

[2016-03-09 22:28] #85 closed

[2016-03-09 22:28] #176 closed

[2016-03-09 22:28] #169 closed

[2016-03-10 01:01] emilyville commented on #90
So just updating after on some IA surgery, this page (new mockup) with be the Veteran Employment Center landing page for job seekers. It will still live in the jekyll site, so no change needs to happen to this actual page - but I will make a new one. Once that one is in the new branch for deployment I'll close this issue.

[2016-03-10 03:35] emilyville commented on #90
here is the new page (still needs some descriptions). closing this now! @gnakm or @mariana-almeida feel free to comment with thoughts or ideas :)

![screencapture-0-0-0-0-4000-employment-job-seekers-veterans-employment-center-1457580844597](https://cloud.githubusercontent.com/assets/1307774/13658674/09130baa-e62e-11e5-8387-c41894929186.png)

[2016-03-10 03:35] #90 closed

[2016-03-10 05:06] emilyville commented on #193
This page is on the new site, so suggesting we make the improvement there as a prelaunch task:

https://vets-website-pr-1304.herokuapp.com/employment/employers/post-a-job/

Closing this one, it's now over there: https://github.com/department-of-veterans-affairs/vets-website/issues/1377

[2016-03-10 05:06] #193 closed

[2016-03-10 14:59] gnakm commented on #216
I uploaded the screenshots for reference.

![2016-02-01_22-35-59](https://cloud.githubusercontent.com/assets/13420618/13672894/b4105fd2-e6a4-11e5-8927-01e957d5551d.png)

I don't think a usability test would be necessary for this unless the issue comes up. My instinct tells me that the workflow and change in look and feel (DS Logon vs. vets.gov) may make the process feel a little daunting but I thi

[2016-03-11 10:35] #44 closed

[2016-03-11 14:04] ayaleloehr commented on #188
Additional info from the field:

Military Skills translator issues:
o   The following Navy NECs--9502, 8427, 8404, 9505, 8424--do not populate a description in the VEC™ profile/resume builder. Once a user enters an MOS in the Skills Translator and imports respective skills into his/her profile, the description of the MOS will also transfer over. However, none of the above Navy NECs populate a desc

[2016-03-11 20:57] emilyville opened #218 "update skills translator copy"
https://www.vets.gov/veterans-employment-center/skills-translator

https://github.com/department-of-veterans-affairs/vets-website/issues/1399

Not sure when this needs to happen.

[2016-03-14 14:27] koconnor719 commented on #143
@cfeeney-va what is status of this; VEC team asking me about this again and estimated time to fix:)  still getting error message when i test it.
<img width="724" alt="screen shot 2016-03-14 at 10 25 12 am" src="https://cloud.githubusercontent.com/assets/13770771/13747585/54d22482-e9cf-11e5-959a-e0ac7d2d6c0c.png">

[2016-03-14 14:34] ayaleloehr commented on #143
@koconnor719 : @cfeeney-va put the fix in last week. Still needs to be deployed though. Will be fixed in production by the end of the week.

[2016-03-14 14:51] cfeeney-va commented on #188
Did we hear back from R.C.?  A former army contact of mine suggested that military recruitment facilities might be a good place to start for this data, since they would use the codes to enlist people...

[2016-03-14 15:11] cfeeney-va commented on #150
Test coverage is up to 73.8%.  Having difficulty identifying additional functionality to support; will update.

[2016-03-14 19:12] koconnor719 commented on #194
gina confirms done 3/12

[2016-03-14 19:12] #194 closed

[2016-03-14 19:13] koconnor719 commented on #204
kelly to follow up w/ jeff on status

[2016-03-14 19:15] koconnor719 commented on #160
status: completed for careers and employment; not done for VR&E;
ACTION: team would like to revisit IA and make some tweak; content pages may change based on IA.

[2016-03-14 19:16] koconnor719 commented on #156
closed; christine left 3 messages w/ solution; settings issue.

[2016-03-14 19:16] #156 closed

[2016-03-14 19:16] koconnor719 commented on #152
alex confirmed done; 3/12

[2016-03-14 19:16] #152 closed

[2016-03-14 19:19] koconnor719 commented on #205
christi confirmed ok; done 3/12 confirmed by gina.

[2016-03-14 19:19] #205 closed

[2016-03-14 19:20] koconnor719 commented on #189
christine to follow up w/ marina.

[2016-03-14 19:21] koconnor719 commented on #188
waiting for RC 3/12

[2016-03-14 19:22] koconnor719 commented on #161
close here per emily; this is being tracked in website repo.

[2016-03-14 19:22] #161 closed

[2016-03-14 19:23] koconnor719 commented on #150
74.5 % as of 3/12; christine to talk to jeff if this is good enough--then close it.

[2016-03-14 19:25] koconnor719 commented on #118
not a high priority as of 3/12 per alex (no longer cost issues; high priority mitigated) ; team does NOT want to move right now; close issue and will reopen when relevant again.

[2016-03-14 19:40] #210 closed

[2016-03-14 19:40] #209 closed

[2016-03-14 23:41] MarinaMartin commented on #118
I don't think we should close this issue or we will forget about it. We should just leave it in the backlog.

[2016-03-15 01:32] ayaleloehr commented on #118
@MarinaMartin agreed. That's what we did (even though we wrote otherwise in the above comment).

[2016-03-15 18:05] #198 closed

[2016-03-15 18:08] plusjeff commented on #204
I have not made progress on this, aside from getting contacts from @emilyville :

- "Andrew Moyer" <andrew@uservoice.com>
- "Danny Bloomfield" <danny@uservoice.com>
- "Tyson Beamer" <tyson.beamer@uservoice.com>

[2016-03-15 18:10] plusjeff commented on #204
Looking at #156, looks like @cfeeney-va has e-mailed them a bunch already, so not sure there is anything additional to do. Will close this @koconnor719 , but feel free to re-open and I'll reach out to the contacts identified.

[2016-03-15 18:10] #204 closed

[2016-03-16 14:10] #148 closed

[2016-03-16 15:15] #197 closed

[2016-03-17 04:49] #196 closed

[2016-03-17 15:15] koconnor719 commented on #188
@cfeeney-va pls. post MOC sources here.

[2016-03-17 15:18] cfeeney-va commented on #188
current sources:
 goarmy
 mosdb
 O*NET
 Mil2Fed

[2016-03-17 15:26] koconnor719 commented on #188
mosdb seems good!  too bad it is a .com w/ no info about whose site this is.  i don't think we can use this.

[2016-03-17 19:46] cfeeney-va commented on #188
Oh sorry, those are the sources we currently are using (so some of the data in the database is already from mosdb!).  That did seem to be the best one when I was reviewing them...

[2016-03-20 18:45] koconnor719 commented on #49
this results in a error message.  when i build my resume (using linkedin) then go to bottom of page and try to "save as draft" , i then hit the "preview your veteran profile and resume content button" above and get the following error message.

![screen shot 2016-02-17 at 9 46 45 pm](https://cloud.githubusercontent.com/assets/13770771/13906347/65e8c200-eeaa-11e5-8a6c-64a5d465fc88.png)

[2016-03-21 18:44] koconnor719 commented on #188
compiled spreadsheet of available sources with proposed ones that we use since VEC will not agree to only use ONET; also checking w/ Chris Lynch USDS DoD to see if he knows an authoritative source.

[2016-03-21 19:28] emilyville commented on #182
@mariana-almeida @rcarthur Please go over and verify this list!

[2016-03-28 14:56] koconnor719 opened #237 "Prepare for 3/31 VEC meeting"
present status on content and features

[2016-03-28 15:29] koconnor719 opened #238 "Veteran Badge"
prelim requirements: veteran "badge" needs to have reciprocity (not just LinkedIn--need Monster, Career Builder, etc.)

[2016-03-28 15:47] cfeeney-va commented on #188
Have downloaded data from the DoD website and imported into my local database.  There are 22367 entries that are updated/validated with the DoD data.  There are still 782 entries that are not from the DoD data, but these are codes that weren't in the DoD files.  My inclination is to leave them for now...thoughts?

Need to validate the import against production data to make sure we don't break anyt

[2016-03-28 15:53] cfeeney-va opened #239 "Allow Duplicate EIN"
per meeting today, employers need to be able to have multiple accounts with the same EIN in order to search for veterans

[2016-03-28 16:14] MarinaMartin commented on #238
The underlying tech is the same. The business will have to arrange those partnerships with other career portals. LinkedIn has this functionality already; unsure whether the others do.

[2016-03-28 17:59] cfeeney-va commented on #188
disclaimer on DoD ODB website:

Standard Mandatory DoD Notice and Consent

You are accessing a U.S. Government (USG) Information System (IS) that is provided for USG-authorized use only.

By using this IS (which includes any device attached to this IS), you consent to the following conditions:

The USG routinely intercepts and monitors communications on this IS for purposes including, but not limi

[2016-03-28 18:54] #182 closed

[2016-03-28 19:11] koconnor719 commented on #188
christine has to coordinate w/ marina on her task; christine planned to finish by tomorrow; marina can start her task tomorrow.

[2016-03-28 19:12] #150 closed

[2016-03-28 19:12] koconnor719 commented on #150
good as is; jeff confirmed.

[2016-03-28 19:13] koconnor719 commented on #76
every sprint.

[2016-03-28 19:13] #76 closed

[2016-03-28 19:14] koconnor719 commented on #237
get draft out to team tomorrow (tues)

[2016-03-28 19:15] #32 closed

[2016-03-28 19:15] #218 closed

[2016-03-28 19:16] #203 closed

[2016-03-28 19:17] koconnor719 opened #240 "Flag if employer has made a commitment"
need to satisfy charter requirement only.

[2016-03-28 19:17] koconnor719 opened #241 "Expand no cost training"
to work w/ VEC team

[2016-03-28 19:27] koconnor719 opened #242 "Add verified employer"
add mariana as an employer; mariana can do this w/ her own google or linkedin acccount; if a "verified" account is needed kelly can contact John Thompson and ask that you be verified as a test employer user:)

[2016-03-28 23:36] mariana-almeida opened #244 "Skills Translator - changed Tips text"
1) For the Skill Translator page, some text changes. These were reviewed by Molly, and written by me. [Uploading 08Jobs_SkillsTranslator_20160328MB.docx…]()

2) Proposed design changes to the tool itself are in review by @gnakm. I am attaching here for completeness/tracking as she is reviewing.

Summary of changes: moving the search box, adding a confirmation related to how many items you have sel

[2016-03-29 01:19] gnakm commented on #244
@mariana-almeida @mollyblake I am not able to open .docx file that you attached to this ticket. Looks like you posted the comment before it full uploaded

[2016-03-29 01:23] ayaleloehr commented on #242
@mariana-almeida should just be able to log in as an employer via LinkedIn or Google.  If you have any trouble please let me know. And if it works, please close this issue!  :)

[2016-03-29 04:20] ayaleloehr commented on #244
Listing the number of skills selected should only be a small lift.

Adding in the "missing skills" / "Add" button may be simple as well or may be a larger lift. Would have to do a little more diligence on that.

[2016-03-29 15:22] mariana-almeida commented on #244
@ayaleloehr That "Missing skills" search box is already in existence. It used to be on the upper right of the skills and it said "Or search manually". So there's no need to develop it.

Glad to know the number of skills is a "small lift"!

Here's a picture.
![skills translator - current](https://cloud.githubusercontent.com/assets/17437292/14113297/3722a812-f587-11e5-9810-f82a86f4cdc6.png)

[2016-03-29 15:24] mariana-almeida commented on #244
@gnakm - re-attaching the docx with the latest changes.
[08Jobs_SkillsTranslator_20160328MB.docx](https://github.com/department-of-veterans-affairs/veterans-employment-center/files/193738/08Jobs_SkillsTranslator_20160328MB.docx)

Actually, this is ready for @mollyblake and/or @rcarthur to enter in.

[2016-03-29 15:24] ayaleloehr commented on #244
@mariana-almeida well look at that, I "missed" the "missing skills".  :)

[2016-03-29 19:13] ayaleloehr opened #247 "Remove for_job_seekers page and fix tests"
The job seekers page needs to be removed from /app/views/static_pages and the tests in job_search_spec.rb will then need to be edited to not `visit for_job_seekers_path` but instead just start on `search_jobs_path`

[2016-03-29 22:05] mariana-almeida commented on #242
I figured it out. Thanks, everyone!

[2016-03-29 22:05] #242 closed

[2016-03-29 22:26] gnakm commented on #244
Content team @mariana-almeida @rcarthur @mollyblake Is there a way to condense the first two lines? Maybe combine? Combine and trim down? We had a UX issue with the current translator where the results didn't show in the window and users didn't know that they needed to scroll down. I think keep and short and sweet copy on top will help.

Design: @emilyville Thoughts on the new layout?

![skills tr

[2016-03-29 23:15] rcarthur commented on #244
Gina - I think we can just delete the first paragraphs down begin with
"Convert your military experience..."

On Tue, Mar 29, 2016 at 3:26 PM Gina Kim <notifications@github.com> wrote:

[2016-03-30 02:31] #188 closed

[2016-03-30 05:53] emilyville commented on #244
this looks awesome. Super happy we can condense that top text block, as well! yay @mariana-almeida @gnakm @rcarthur !! If we're all in agreement feel free to assign to me and I will incorporate tomorrow.

[2016-03-30 11:06] koconnor719 commented on #188
Yeah!!!!!!

Sent with Good (www.good.com)

-----Original Message-----
From: cfeeney-va [notifications@github.com<mailto:notifications@github.com>]
Sent: Tuesday, March 29, 2016 10:31 PM Eastern Standard Time
To: department-of-veterans-affairs/veterans-employment-center
Cc: O'Connor, Kelly A.
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/veterans-employment-center] MOC missing or inaccura

[2016-03-30 13:53] #131 closed

[2016-03-30 13:55] ayaleloehr commented on #64
@cfeeney-va pretty sure you got this one. can you verify and if so, close?

[2016-03-30 13:56] ayaleloehr commented on #49
@cfeeney-va  does save as draft really not do anything different?  If so, should we remove it?

[2016-03-30 13:57] ayaleloehr commented on #37
@cfeeney-va can these errors get the same style for whatever you gave the EIN errors?  I think it was like an orange?

[2016-03-30 13:58] #30 closed

[2016-03-30 14:00] ayaleloehr commented on #108
Duplicate of #179, which has more details. closing.

[2016-03-30 14:00] #108 closed

[2016-03-30 14:19] gnakm commented on #37
@ayaleloehr Thanks for brining this up. Christine and I chatted about this. The plan is the change all errors to our playbook standard. Hex: #f9dede
<img width="303" alt="screen shot 2016-03-30 at 10 17 48 am" src="https://cloud.githubusercontent.com/assets/13420618/14145170/d62ce7ea-f660-11e5-87cc-6deebdf08a81.png">

[2016-03-30 14:27] gnakm commented on #244
I concur with EmDash.

I tried this. I personally like this route the best because on a large screen, the tips will probably show enough that users don't have to scroll to know what's next.
![skills translator v 2](https://cloud.githubusercontent.com/assets/13420618/14145301/578846a4-f661-11e5-864c-023f105bfce3.png)
![skills translator result v 2](https://cloud.githubusercontent.com/assets/1342061

[2016-03-30 14:47] rcarthur commented on #244
It looks good!

On Wed, Mar 30, 2016 at 7:27 AM Gina Kim <notifications@github.com> wrote:

[2016-03-30 15:01] #239 closed

[2016-03-30 15:55] cfeeney-va commented on #37
<img width="1023" alt="screen shot 2016-03-30 at 11 54 04 am" src="https://cloud.githubusercontent.com/assets/15927676/14148654/50ce06ca-f66e-11e5-88fd-d2906d9c652b.png">

@gnakm can you review the update?  i think it might need something...

[2016-03-30 16:05] cfeeney-va commented on #37
update with black text:
<img width="1023" alt="screen shot 2016-03-30 at 12 05 28 pm" src="https://cloud.githubusercontent.com/assets/15927676/14148939/c22cac1c-f66f-11e5-91eb-7d75653173b0.png">

[2016-03-30 16:07] cfeeney-va commented on #37
update with matching text:
<img width="1061" alt="screen shot 2016-03-30 at 12 07 28 pm" src="https://cloud.githubusercontent.com/assets/15927676/14148997/0849dfa8-f670-11e5-9713-7f1d07c5c721.png">

[2016-03-30 18:12] emilyville opened #250 "breadcrumbs breadcrumbs"
no more veterans employment center
should say careers and employment

and
careers and employment / job seekers / thing

[2016-03-30 18:21] emilyville opened #251 "add redirects to /employment from old vec urls"

[2016-03-30 21:19] MarinaMartin commented on #49
Save as draft stops your profile from being in search results.

[2016-03-30 21:21] ayaleloehr commented on #49
OK, that seems important. Definitely don't remove it then. The question then becomes can @cfeeney-va  replicate this error that Kelly found?  I wasn't able to when I tried...

[2016-03-31 04:35] emilyville commented on #244
this is partly mostly
https://github.com/department-of-veterans-affairs/veterans-employment-center/pull/255

[2016-03-31 14:30] ayaleloehr opened #257 "Change where user is directed after employer logout"
Right now when an employer logs out, it takes them to /veterans-employment-center.  With the C&E change, I think it should direct them to /employment/employers instead (the employer landing page).  This will keep them in the VEC repo, so that the "signed out" banner can be shown across the top of the screen.

[2016-04-01 13:47] ayaleloehr opened #259 "Commitment number goes outside of box"
On our staging commitments page, I put the number of commitments that we have in production, and the last digit goes off the edge of the box:

![screen shot 2016-04-01 at 9 44 38 am](https://cloud.githubusercontent.com/assets/4719765/14208686/95ef7186-f7ee-11e5-9918-ef81c41cf324.png)

[2016-04-01 15:04] #257 closed

[2016-04-01 15:04] #250 closed

[2016-04-01 15:30] gnakm commented on #259
@ Would decreasing font size for all 3 boxes be the best way to go about this? Wonder if you have a better solution in mind.

[2016-04-01 15:51] cfeeney-va commented on #64
Yup, this should be fixed :)
Tried -28, 12.5, and 1,000 (with comma) and all were caught by current validations

[2016-04-01 15:51] #64 closed

[2016-04-01 15:53] ayaleloehr commented on #64
:)

[2016-04-01 16:21] cfeeney-va commented on #49
I can't replicate the error, but I could see why the current workflow might be confusing.
![screen shot 2016-04-01 at 12 02 05 pm](https://cloud.githubusercontent.com/assets/15927676/14213109/30fdd022-f804-11e5-84c3-0755c680bd3a.png)

I think it would make sense to move it to the next page...maybe something like this?  What do you guys think? (esp @ayaleloehr and @gnakm )

[2016-04-06 17:56] emilyville commented on #259
this is done!

[2016-04-06 17:56] #259 closed

[2016-04-06 18:03] emilyville commented on #244
I think this is done? I am having trouble following this issue, admittedly my own comment is the most confusing of all... but closing for now and @mariana-almeida please speak up if we missed anything here!

[2016-04-06 18:03] #244 closed

[2016-04-06 18:17] emilyville commented on #192
Yikes! I'll take a look at this. I thought we fixed this with the css-splitter pr way back when.

[2016-04-06 18:24] mariana-almeida commented on #244
Thanks @emilyville. I've been tracking this issue informally by peering over Gina's shoulder. I'm good.

[2016-04-06 18:25] emilyville commented on #192
ok, verified this is what it looks like in ie9. Will check on the CSS splitter post launch and see if that stopped working or maybe was never implemented in this repo

[2016-04-07 12:53] koconnor719 opened #273 "Preview / Save resume page error"
When i build my resume using LinkedIn and try to preview and save it (i tested multiple times checking the the draft box not checking the draft box), i get a page error below.  note: i tried this about 5 times--one time it did work properly?

<img width="831" alt="screen shot 2016-04-07 at 8 25 45 am" src="https://cloud.githubusercontent.com/assets/13770771/14351602/3a005052-fc9e-11e5-9f5f-f55e3fa

[2016-04-07 13:55] ayaleloehr commented on #273
Looking in the logs, this is what I see:

[code]

[2016-04-07 14:01] ayaleloehr commented on #273
@koconnor719 what were you putting in the awards section?  Can you take a screenshot of that section maybe for us to help debug?

[2016-04-07 14:07] koconnor719 commented on #273
<img width="952" alt="screen shot 2016-04-07 at 10 07 33 am" src="https://cloud.githubusercontent.com/assets/13770771/14353771/978dfab2-fca8-11e5-8369-81060824afd1.png">

[2016-04-07 15:12] cfeeney-va commented on #273
It looks like our database is out of sync and not assigning IDs to the awards table correctly.  First fix described here fixed the issue locally for me: http://stackoverflow.com/questions/244243/how-to-reset-postgres-primary-key-sequence-when-it-falls-out-of-sync.  Will discuss with @ayaleloehr to see if we can implement in production.  Am also working on identifying why the sequence got set incor

[2016-04-07 16:16] cfeeney-va commented on #273
After review, I couldn't find a reason the above would have occurred in production so I did some testing.  In production, I receive this error intermittently and it doesn't seem to be related to the number of awards or their contents.  If it were the above reason, I would expect to receive the error all the time I believe so going to research more.

[2016-04-07 16:20] koconnor719 commented on #273
yes it continues to be intermittent; sometimes it's fine(--and then other times error message...seems like when i check the "draft" box the error happens more frequently.

[2016-04-07 17:29] cfeeney-va commented on #273
It was the above issue; since not all IDs were taken in production, the save succeeded with it was incrementing to an unused ID and failed when it tried to use one that was already taken.  Both the "awards" and "veterans" tables had this issue.  Alex thinks it may have occurred when we moved to AWS.  Sequences have been reset and it should work going forward.

[2016-04-07 17:29] #273 closed

[2016-04-07 17:45] cfeeney-va commented on #240
closed, done in #267

[2016-04-07 17:45] #240 closed

[2016-04-07 17:47] cfeeney-va commented on #136
Jeff approved current coverage of 70%

[2016-04-07 17:47] #136 closed

[2016-04-07 17:49] ayaleloehr commented on #199
Done!

[2016-04-07 17:49] #199 closed

[2016-04-07 20:44] gnakm opened #274 "New Log In Design"
@cfeeney-va and I will build out the new employers log in tomorrow. For context we kept it super similar to what we already have because it's prominent.

![sign in version 1](https://cloud.githubusercontent.com/assets/13420618/14366231/cacd9a5e-fcdf-11e5-887e-0647b92fd01c.png)

![sign in mobile version 1](https://cloud.githubusercontent.com/assets/13420618/14366232/cacec44c-fcdf-11e5-96b8-01643700

[2016-04-08 14:12] koconnor719 commented on #237
meeting completed

[2016-04-08 14:12] #237 closed

[2016-04-11 15:28] gnakm opened #279 "Tweaks to Job Search Page"
- Add break line btwn search and callout box.
- Take out Callout box for featured jobs

![love bump](https://cloud.githubusercontent.com/assets/13420618/14305109/23927c2c-fb87-11e5-947a-6395ac752ab0.png)

[2016-04-11 19:31] webinista opened #283 "Sign-In page edits"
From department-of-veterans-affairs/vets-website#1833:

For the above page, we should delete the first sentence (above the sign-in buttons) and then move the sign-in buttons to the bottom (under the 2nd para).

[2016-04-11 23:26] cfeeney-va commented on #274
completed with PR #277

[2016-04-11 23:26] #274 closed

[2016-04-12 14:51] #279 closed

[2016-04-12 14:56] koconnor719 commented on #160
john's comments closed:)

[2016-04-12 14:56] #160 closed

[2016-04-12 14:57] #251 closed

[2016-04-12 14:57] koconnor719 commented on #49
error message fixed; "saved as draft" is not in scope right now. closed.

[2016-04-12 14:58] #49 closed

[2016-04-12 14:59] #174 closed

[2016-04-12 14:59] #241 closed

[2016-04-12 15:15] koconnor719 opened #287 "VR&E Content"
target launch 4/19 target for staging; launch the following week. no blockers right now.

[2016-04-12 19:51] #283 closed

[2016-04-13 02:57] koconnor719 opened #289 "text wrap looks off on C&E page"
@gnakm is the text in the first 2 sentences on this page supposed to wrap like this?  they both are only going partially across the page.

![screen shot 2016-04-12 at 10 56 26 pm](https://cloud.githubusercontent.com/assets/13770771/14481537/f10fc504-0101-11e6-9b61-6afeafafdf3d.png)

[2016-04-13 03:00] gnakm commented on #289
@koconnor719 yes! We standardized all of our texts all throughout vets.gov to a shorter width because it's easier for users to read up to a certain character.

[2016-04-13 03:01] koconnor719 opened #290 "copy typos on "support for military and veteran spouses""
need to capitalize the bullets (connecting with employers...) to match the capitalized bullets on rest of this page. https://www.vets.gov/employment/job-seekers/family-members/ @mariana-almeida is this in our editorial style guide?

![screen shot 2016-04-12 at 10 59 30 pm](https://cloud.githubusercontent.com/assets/13770771/14481588/71b0a8b8-0102-11e6-85d2-2d60a80ed252.png)

[2016-04-13 03:18] koconnor719 opened #291 "resume builder not adding skills"
when i select an unknown MOC and skills (e.g. i selected a bunch of microsoft office skills) they aren't appearing on my resume. (i imported linkedin info to build this resume

[test resume no tranlsated skills.docx](https://github.com/department-of-veterans-affairs/veterans-employment-center/files/216342/test.resume.no.tranlsated.skills.docx)

when i select 11b Army and added microsoft sql and mi

[2016-04-13 03:44] koconnor719 opened #292 "coursera and linkedin"
are these Veteran benefits highlighted anywhere else on the site? shouldn't these be more prominent since they are free resources for Veterans? they seem hard to find on this page. @mariana-almeida

![screen shot 2016-04-12 at 11 42 43 pm](https://cloud.githubusercontent.com/assets/13770771/14482213/6b3b8006-0108-11e6-8e0a-5e981ada0fd9.png)

[2016-04-13 03:47] koconnor719 opened #294 "job seeker page"
should these piano keys be on the job seeker page? i don't see any links for Veteran Job seekers to get one-on-one assistance or info on career fairs, etc.? @gnakm

![screen shot 2016-04-12 at 11 45 22 pm](https://cloud.githubusercontent.com/assets/13770771/14482244/c0a07b82-0108-11e6-90fd-0ca533fb0675.png)

[2016-04-13 17:00] mariana-almeida commented on #290
@bethpotts to review.

[2016-04-13 17:11] mariana-almeida commented on #294
@koconnor719 yes, these are on the page already. Look at #6 for career fairs, and blue box that says: Get personalized help if you need it. Please reopen if I haven't answered your question. Thanks!

[2016-04-13 17:11] #294 closed

[2016-04-13 17:19] mariana-almeida commented on #292
These are all elsewhere on the site more prominently,  in Education area. The only one we link off to on another site is this one: Consider military tuition assistance (for active duty).

@bethpotts can you please see if we are linking to this on Education side?(http://myarmybenefits.us.army.mil/Home/Benefit_Library/Federal_Benefits_Page/Tuition_Assistance_(TA).html?serv=149)

[2016-04-13 22:05] mollyblake commented on #292
@koconnor719 @mariana-almeida I'll field this one! :) We link to LinkedIn elsewhere including from the job search page where there is a piano key.

As far as Coursera is concerned, we have a piano key off the job search page.  But I will re-tool the text on this page that contains the Coursera class and that will make it a bit more prominent.

And yes, @mariana-almeida we are linking to that MyArm

[2016-04-13 22:40] bethpotts commented on #290
@koconnor719 @mariana-almeida Our intention was to treat this like a sentence, but you are correct to point out that it looks kinda goofy and would be better to start those two bullets with capital letters. I've made a couple edits, including the capping. Thanks, Kelly! Changes should be reflected on the site by the end of the day.

[2016-04-13 22:41] #290 closed

[2016-04-14 20:30] cfeeney-va opened #297 "MOC issues in Skills Translator"
The Air Force MOS, 1C671, populates the wrong description in the VEC™ profile/resume builder. Once a user enters the MOS in the Skills Translator and imports skills into his/her profile, the description does not match the 1C671 duties/responsibilities.

The following Navy NECs--9502, 8427, 8404, 9505, 8424--do not populate a description in the VEC™ profile/resume builder. Once a user enters an MOS

[2016-04-14 20:45] cfeeney-va commented on #297
@koconnor719
confirmed with alex that the new MOC data hasn't been imported into the prod database yet; it's waiting on skills translator updates.  all of these issues should be resolved after the import.

[2016-04-14 20:45] #297 closed

[2016-04-15 11:44] koconnor719 commented on #297
Great. Do we know when skills translator stuff will be done?

Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: cfeeney-va <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/veterans-employment-center <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, April 14, 2016 at 4:45 PM
To: department-of-veteran

[2016-04-15 14:35] ayaleloehr commented on #291
This is a known issue unfortunately. You cannot currently import skills via the skills translator and then use the LinkedIn import. It's a bug, but requires a rework of how we import from LinkedIn, so we don't have an easy resolution path at present.

[2016-04-15 15:18] ayaleloehr commented on #291
Actually, @cfeeney-va , are skills even added to resumes currently?  I think they might not be. If not, should they be?

[2016-04-15 20:58] #82 closed

[2016-04-15 20:59] ayaleloehr commented on #69
This is OBE by the new Skills Translator design. Closing.

[2016-04-15 20:59] #69 closed

[2016-04-15 20:59] ayaleloehr commented on #66
OBE, as this button no longer exists.

[2016-04-15 20:59] #66 closed

[2016-04-15 21:00] ayaleloehr commented on #58
This page is no longer in this repo.

[2016-04-15 21:00] #58 closed

[2016-04-15 21:01] ayaleloehr commented on #25
This has been redesigned by @emilyville

[2016-04-15 21:01] #25 closed

[2016-04-15 21:03] ayaleloehr commented on #54
Removing the TMs in this repo and one will still exist in the vets-website repo.

[2016-04-15 21:03] #54 closed

[2016-04-15 21:04] ayaleloehr commented on #211
This is done. @cfeeney-va changed where the "sign out" header went to take care of this.

[2016-04-15 21:04] #211 closed

[2016-04-15 21:06] ayaleloehr commented on #134
fixed

[2016-04-15 21:06] #134 closed

[2016-04-15 21:06] ayaleloehr commented on #132
fixed

[2016-04-15 21:06] #132 closed

[2016-04-15 21:09] ayaleloehr commented on #130
The VEC team made the decision that checking for and remediating duplicate commitments should be a manual process, so closing this issue as there is nothing to do on our side currently.

[2016-04-15 21:09] #130 closed

[2016-04-16 02:59] koconnor719 opened #300 "employment center subway map"
given the Veteran feedback we have about the "Interest Profiler" (negative feedback) should that be the #1 step on our subway map--both of these things are external links?  doesn't VA have in-house services  such as http://www.benefits.va.gov/vocrehab/edu_voc_counseling.asp that we can highlight for this step? @rcarthur @mollyblake @gnakm

[2016-04-16 03:00] koconnor719 commented on #292
thanks.  it just seems like these 2 free resources are buried at the bottom of the job seeker page in tiny font:)

[2016-04-16 03:02] koconnor719 commented on #292
@mariana-almeida that's good they are in other places on the site:)  but given these are free employment resources that VA has partnered w/ for Veterans--shouldn't they be highlighted more on the job seeker page?  the Interest profiler (which we heard from feedback is not helpful) is more prominent on the subway map than these 2 free benefits?

[2016-04-18 02:18] mollyblake commented on #292
Hi @koconnor719 I've been working on this issue and am happy to work on making these resources more prominent !  Thanks

[2016-04-18 14:35] ayaleloehr commented on #133
Changed to "View all Hiring Commitments"

[2016-04-18 14:35] #133 closed

[2016-04-18 14:38] ayaleloehr commented on #87
Dupe of #70

[2016-04-18 14:38] #87 closed

[2016-04-18 14:40] ayaleloehr commented on #59
I believe this was fixed in the va_common gem.  Closing because I can't replicate anymore.

[2016-04-18 14:40] #59 closed

[2016-04-18 14:40] ayaleloehr commented on #52
No longer an issue as we have changes this navigation.

[2016-04-18 14:41] #52 closed

[2016-04-18 14:46] ayaleloehr commented on #34
I believe these links no longer exist after the C&E launch, so closing.

[2016-04-18 14:46] #34 closed

[2016-04-18 14:47] ayaleloehr commented on #24
I don't know exactly what this is requesting, but this seems OBE.

[2016-04-18 14:47] #24 closed

[2016-04-18 14:48] ayaleloehr commented on #31
Not getting this error.

[2016-04-18 14:48] #31 closed

[2016-04-18 14:54] ayaleloehr commented on #60
@cfeeney-va it seems when I do a search with a zip code entered, it removes the zip code after the search is performed (and the zip code isn't used in the search). I'm thinking we should just remove the Zip Code + Distance fields in this, as we already have the "Where" field. Thoughts?

[2016-04-18 14:56] ayaleloehr commented on #289
@koconnor719 if you're good with this as a purposeful design decision, please close.

[2016-04-18 14:57] ayaleloehr opened #301 "change search_jobs to search-jobs"
This will get rid of the last "_" in our URL structure.

Changes will also need to be made in vets-website for all pages that link to this (should be a simple find+replace)

[2016-04-18 15:01] ayaleloehr commented on #192
@emilyville can you verify if this is still happening post launch?

[2016-04-18 15:07] ayaleloehr commented on #47
Closing as this order seems preserved to me now in my testing and the top one is no longer bolded.

[2016-04-18 15:07] #47 closed

[2016-04-18 17:18] ayaleloehr commented on #247
do this after profile bank deletion, as there will likely be conflicts if we try to do earlier.

[2016-04-18 17:21] ayaleloehr commented on #123
@gnakm is this better now after the redesign?  If so, please close.

[2016-04-18 17:22] ayaleloehr commented on #83
There will be no more Veteran search after removing the profile bank, so this seems no longer relevant.

[2016-04-18 17:22] #83 closed

[2016-04-18 17:24] ayaleloehr commented on #27
This will no longer be relevant after removing the profile bank, so closing.

[2016-04-18 17:24] #27 closed

[2016-04-18 17:25] #29 closed

[2016-04-18 17:27] ayaleloehr commented on #43
Can we just add a link to a list of all MOCs maybe?  Or a DoD list?

[2016-04-18 17:29] ayaleloehr commented on #23
This feels OBE. Closing.

[2016-04-18 17:29] #23 closed

[2016-04-18 18:24] gnakm commented on #123
@ayaleloehr yes thanks for pointing this out.

[2016-04-18 18:24] #123 closed

[2016-04-18 21:30] #301 closed

[2016-04-19 15:32] cfeeney-va commented on #60
I agree...when I looked at it we weren't using the zip code anywhere and we would have to do a lot of work to integrate it.  Since we already have a location field I think removing it is the way to go.

[2016-04-19 15:35] cfeeney-va commented on #291
I might not be answering your question (let me know if I'm misunderstanding it!):

Right now, skills are imported from the skill translator if you enter the resume builder from the skills translator page.  However, if you then import from LinkedIn those skills will be overwritten.

[2016-04-19 15:39] ayaleloehr commented on #60
Thanks. On it!

[2016-04-19 15:41] ayaleloehr commented on #291
Yep, that part makes sense (although obviously isn't ideal and is a bug...).  The part I don't know is whether the skills actually go on the resume? So say I enter 5 skills (from LinkedIn, or manually, or through the skills translator), then I preview and download my resume. Are those skills in the resume?  They seemed to not be showing up for me, so just wanted to check whether that was on purpos

[2016-04-20 21:12] webinista opened #304 "Remove `fieldset` element from job search form"
`fieldset` should group related fields within a form, not all of the fields within it.

[508 report](http://vawsb.dequecloud.com/FireEyes/issue/edit/10961222?source=page) says to add a `legend` element, but it's more sensible to remove the `fieldset` element.

[2016-04-20 21:28] webinista opened #305 "Remove `onchange` attribute from #onet"
508 report flagged this as a _Potential violation_. Error message:

Offending code:

`<select name="onet" id="onet" class="select" onchange="">`

It doesn't look like this event attribute is doing anything, so it's safe to remove it from the markup.

[508 report](http://vawsb.dequecloud.com/FireEyes/issue/edit/10961223?source=page)

[2016-04-20 21:33] webinista opened #306 "Remove `onchange` attribute from #ind"
Related to #305. 508 report flagged this as a _Potential violation_. Error message:

Offending code:

`<select name="ind" id="ind" class="select" onchange="">`

It doesn't look like this event attribute is doing anything, so it's safe to remove it from the markup.

[2016-04-20 21:35] webinista opened #307 "Remove `onchange` attribute from #fed"
Related to #305, #306.

508 report flagged this as a _Potential violation_. Error message:

Offending code:

`<select name="fed" id="fed" class="select" onchange="">`

It doesn't look like this event attribute is doing anything, so it's safe to remove it from the markup.

[2016-04-20 22:12] webinista opened #308 "Ensure that job search form is keyboard-accessible in multiple browsers"
**Resource:** [Section 508 report](http://vawsb.dequecloud.com/FireEyes/issue/edit/10961228?source=page)

Report says that `click` event listener could be a problem for non-mouse users (keyboard, touch, etc). I _think_ most browsers, including mobile ones, treat touches and the enter key as `click` events, but we should test or augment the JavaScript to ensure that this is the case.

[2016-04-20 22:25] webinista opened #309 "Add a keyboard event handler to SVG icon"
**Source:** [Section 508 report](http://vawsb.dequecloud.com/FireEyes/issue/edit/10961230?source=page)

Error says that we need a keyboard event for the SVG feedback icon. Possible fix: Make `<div data-html2canvas-ignore="true" class="uv-icon uv-bottom-right ">` into an `a` or `button` element, e.g.:
`<a href="#idea-widget" html2canvas-ignore="true" class="uv-icon uv-bottom-right">` or `<button ty

[2016-04-21 23:18] webinista opened #310 "Create Resume page: Add labels for all form fields"
[508 error report](http://vawsb.dequecloud.com/FireEyes/page/show/2140842)

Make sure the form fields on the [create resume page](https://www.vets.gov/veterans-employment-center/createresume) all have labels.

[2016-04-21 23:24] webinista opened #311 "Create resume page: Check and adjust the color contrast"
[Section 508 report](http://vawsb.dequecloud.com/FireEyes/page/show/2140842)

The [create resume page](https://www.vets.gov/veterans-employment-center/createresume) has a couple of color-contrast errors. Check the color and background for the `<span>Auto-fill from LinkedIn</span>` text and `<input name="commit" value="Preview Your Veteran Profile and Résumé Content" class="button primary" type="su

[2016-04-21 23:28] webinista opened #312 "Create Resume feature: Verify/ensure that all content is keyboard accessible."
[Create Resume page](https://www.vets.gov/veterans-employment-center/createresume)

[Section 508 report](http://vawsb.dequecloud.com/FireEyes/page/show/2140842)

The `veteran_form` may have some content that's only mouse-accessible.

[2016-04-21 23:49] webinista opened #313 "Should Job Search logos use blank alt text attributes?"
[Example URL](https://www.vets.gov/veterans-employment-center/search_jobs?featured_page=163)

Our automated 508 tests have flagged images with alt text that mostly matches the file's name. However in most cases, that's appropriate. For example:

`<img alt="jb hunt transportation" class="logo" src="/veterans-employment-center/images/employers/jb hunt transportation.png">`

In this case, `jb hunt tr

[2016-04-21 23:57] webinista opened #314 "For Job Seekers: Add a legend element to the fieldset, or remove the fieldset element"
[URL of the issue](https://www.vets.gov/veterans-employment-center/for_job_seekers)

[URL of the report](http://vawsb.dequecloud.com/FireEyes/page/show/2140808)

HTML block begins with:
`<fieldset class="borderless"> <div class="row"> <div class="small-12 columns">`

`fieldset` should be used to group related fields within a form, not an entire form. If it's just a case of a missing legend, add it

[2016-04-22 00:07] webinista opened #315 "Check color contrast for #update_profile link, #job-search button, text"
Most likely the background color and foreground color aren't different enough for the `button` class, and the span/p text is too light for the light background.

Examples of the offending elements (though it's really a global issue). Check the CSS that affects these elements:
- `<a class="button expand" id="update_profile" href="/veterans-employment-center/users/auth/saml">Sign in</a>`
- `<button

[2016-04-22 00:22] webinista opened #316 "Interest Profiler: Add a descriptive title attribute to the iframe"
[page](https://www.vets.gov/veterans-employment-center/interest-profiler)
[Section 508 report](http://vawsb.dequecloud.com/FireEyes/page/show/2140848)

This may be YouTube related.

[2016-04-22 00:24] webinista opened #317 "Interest profiler: Adjust the source / tab order so that tab order and DOM order match"
[page](https://www.vets.gov/veterans-employment-center/interest-profiler)
[508 report](http://vawsb.dequecloud.com/FireEyes/page/show/2140848)

Offending code `<a name="postnav" tabindex="1"></a>`

[2016-05-02 23:50] emilyville commented on #289
Could we remove this title? I agree it looks odd in this instance and I also question whether it is adding value. @mariana-almeida ?

[2016-05-03 13:41] emilyville commented on #289
ok nevermind me, better idea, let's move the title to the top like we normally do :)

![screen shot 2016-05-03 at 5 55 28 am](https://cloud.githubusercontent.com/assets/1307774/14984935/17af9ea2-10fa-11e6-9b1b-86dea5b89196.png)

[2016-05-03 15:53] mariana-almeida commented on #289
@emilyville I like the moving of the title up. Looks like it always belonged there!

[2016-05-04 17:43] koconnor719 opened #328 "VEC Profiles (staging site feedback)"
@cfeeney-va can you guys pls. review these comments from John and post response below that i can send back to him.

Some of the items I found:

Under Employers - If your company’s current job listing is posted on the NLX, then it is also searchable in the Veterans Job Bank. If you haven’t registered your company with the NLX, register now and post for free. Or reach out to qualified Veterans and m

[2016-05-04 18:47] ayaleloehr commented on #328
@koconnor719 Comments to the individual comments above. Overall, agree with most of these and appreciate the feedback.

The first one was done and should show up on employment.vets.gov now.
2 and 3 are not changes that are being made before launch.
4-6 have a PR out for them. They won't show up in employment.vets.gov yet but I have taken care of all of them and they won't show up on launch.

Let m

[2016-05-05 02:42] koconnor719 commented on #328
email sent with response. closing issue.

[2016-05-05 02:42] #328 closed

[2016-05-05 02:47] koconnor719 commented on #292
i think this is  a design question?  @emilyville pls advise:)

[2016-05-05 02:48] koconnor719 commented on #289
ok i think all agreed this is closed?

[2016-05-05 02:48] #289 closed

[2016-05-05 13:29] gnakm commented on #292
I'm closing this out because it's being worked on #2121

[2016-05-05 13:29] #292 closed

[2016-05-05 14:06] koconnor719 commented on #292
Ty!
Kelly O�Connor
VA Digital Service
kelly.o�connor@va.gov
202-299-4436

From: Gina Kim <notifications@github.com<mailto:notifications@github.com>>
Reply-To: department-of-veterans-affairs/veterans-employment-center <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, May 5, 2016 at 9:29 AM
To: department-of-veterans-affairs/veterans-employment-center <veterans-employment-cente

[2016-05-11 21:51] joduinn commented on #118
@ayaleloehr and myself noted that an intermittent alert in prod-vec-elb in AWS is being caused by an intermittent delay on heroku. Alerts tweaked, but this revived the discussion about moving from heroku to aws.

Not *urgent*, but noting for the record and will decide timing after we decide on a region in AWS.

[2016-05-13 13:19] #291 closed

[2016-05-13 13:19] ayaleloehr commented on #216
There are no more profiles, so no research necessary.

[2016-05-13 13:19] #216 closed

[2016-05-13 19:46] #60 closed

[2016-05-13 19:46] #189 closed

[2016-05-13 19:48] ayaleloehr commented on #157
Feels more like a roadrunner thing and not actionable here, so closing.

[2016-05-13 19:48] #157 closed

[2016-05-16 21:40] gnakm commented on #139
We no longer have the bug so closing.

[2016-05-16 21:40] #139 closed

[2016-05-16 22:29] ayaleloehr opened #334 "Throws exception when skill entered with apostrophe"
When a user is in the resume builder and tries to manually enter a skill that contains an apostrophe, an exception is thrown. This is an example:

```ActiveRecord::StatementInvalid: ERROR: syntax error at or near "ve"LINE 1: ..." WHERE (source in ('linkedin') and name ilike 'i've done a%... ^```

[2016-05-16 22:58] joduinn commented on #334
Whenever we do get time to fix this, can we also check that names with an apostrophe are handled without any exceptions???

[2016-05-16 23:07] ayaleloehr commented on #334
`O'Duinn` is an acceptable name (just checked, no errors). :)

[2016-05-16 23:10] joduinn commented on #334
Excellent news, thank you!

John
From: Alex Yale-Loehr [mailto:notifications@github.com]
Sent: Monday, May 16, 2016 7:08 PM
To: department-of-veterans-affairs/veterans-employment-center <veterans-employment-center@noreply.github.com>
Cc: O'Duinn, John <JODuinn@omb.eop.gov>; Comment <comment@noreply.github.com>
Subject: Re: [department-of-veterans-affairs/veterans-employment-center] Throws exceptio

[2016-06-16 17:49] webinista opened #337 "Integrate breadcrumb, header, footer changes from vets-website"
Need to update the header, footer, and breadcrumbs with upcoming changes from the vets-website repo. See:

- [x] department-of-veterans-affairs/vets-website#2489 (Moving secretary's link)
- [x] department-of-veterans-affairs/vets-website#2487 (Veteran's crisis line functionality)
- [ ] department-of-veterans-affairs/vets-website#2440 (Home page, 404 changes)
- [x] department-of-veterans-affairs/ve

[2016-06-21 04:10] ayaleloehr opened #338 "Manually entered skills don't get added to resume"
First reported by a user here: https://github.com/department-of-veterans-affairs/vets-website/issues/2497

[2016-06-22 21:44] joduinn commented on #118
@ayaleloehr confirmed that some recent intermittent alerts in prod-vec-elb are being caused by this same intermittent delay on heroku.

For now, tweaking alerts, but we need to remember to ratchet down these alerts later, after we move off heroku, hence updating this ticket.

[2016-06-28 02:15] ayaleloehr opened #339 "404 page shown should be relative to current URL"
Right now, as you can see in the code [here](https://github.com/department-of-veterans-affairs/veterans-employment-center/blob/1576786d1de0a3da98ff0ea52ea48de127e05b2f/app/controllers/errors_controller.rb#L3), the VEC 404 page always goes to https://www.vets.gov/not_found, even if VEC is running in staging instead of production. This isn't ideal and should be fixed to go to a 404 page for the curr

[2016-06-30 00:43] webinista opened #340 "Update to va_common 0.4.0"
Blocked by department-of-veterans-affairs/va_common#34.

Once 0.4.0 has been published as a Ruby gem, we'll need to update it here and possibly make some CSS adjustments.

[2016-07-19 20:00] webinista commented on #337
@crwallace Please close this if the VEC updates are done.

[2016-07-20 02:41] ayaleloehr commented on #340
Closed in 1ec546f.

[2016-07-20 02:41] #340 closed

[2016-07-20 15:57] ayaleloehr commented on #337
VEC updates merged yesterday and deploying tomorrow.

[2016-07-20 15:57] #337 closed

[2016-07-20 15:58] ayaleloehr commented on #337
Also, VEC 404 points to vets-website 404, so those changes are not needed here.

[2016-08-01 03:48] jkassemi opened #344 "Migrations won't run from start"
Removal of the MigrationHelper module in 24be4ad prevents the migrations from running, since it's referenced in several migrations to assist with loading skills translator models from CSVs:

[`db/migrate/20151014183437_load_skills_translator_model.rb`](https://github.com/department-of-veterans-affairs/veterans-employment-center/blob/master/db/migrate/20151014183437_load_skills_translator_model.rb)

[2016-08-01 13:27] ayaleloehr commented on #344
@cfeeney-va this was your realm. Thoughts?

[2016-08-02 14:04] #344 closed

[2016-08-30 23:14] jkassemi opened #357 "undefined method `persisted?' for nil:NilClass"
We're seeing this error pop up in production with new relic's exception tracking:

[code]

It's occurring during the [linkedin oauth](https://github.com/department-of-veterans-affairs/veterans-employment-center/blob/master/app/controllers/users/omniauth_callbacks_controller.rb#L17), and as far as I can tell is either the result of no email being provided from linkedin, or a uid that's already asso

[2016-10-19 21:00] emilyville commented on #192
This is way old. I am 90% sure it was sorted and many many other thigns have changed, so closing and please reopen if any new issues arise.

[2016-10-19 21:00] #192 closed

[2016-10-19 21:26] koconnor719 commented on #192
sounds good!

[2016-12-08 20:26] jkassemi opened #372 "WK->Poltergeist transition - address test failures"
https://github.com/department-of-veterans-affairs/veterans-employment-center/pull/371 introduces poltergeist in lieu of Webkit for running feature specs due to system constraints and setup difficulty.

It introduces a few behavioral changes that cause some test failures, and will need to be addressed.

[2016-12-19 02:54] gnakm commented on #300
Closing this because it's a super outdated issue.

[2016-12-19 02:54] #300 closed

[2017-01-03 17:16] #142 closed

[2017-01-25 22:38] patrickvinograd commented on #247
This was fixed via #380

[2017-01-25 22:38] #247 closed

[2017-03-06 15:30] phiden opened #386 "Headers/footers on VEC don't match current style"

[2017-03-17 04:02] webinista commented on #304
Closing. Ancient enough to probably be irrelevant.

[2017-03-17 04:02] #304 closed

[2017-03-17 04:03] webinista commented on #317
Old enough that it's probably irrelevant.

[2017-03-17 04:03] #317 closed

[2017-03-17 04:03] webinista commented on #316
Old enough that it's probably irrelevant.

[2017-03-17 04:03] #316 closed

[2017-03-17 04:03] webinista commented on #315
Old enough that it's probably irrelevant.

[2017-03-17 04:03] #315 closed

[2017-03-17 04:03] webinista commented on #314
Old enough that it's probably irrelevant.

[2017-03-17 04:03] #314 closed

[2017-03-17 04:03] webinista commented on #313
Old enough that it's probably irrelevant. Closing.

[2017-03-17 04:03] #313 closed

[2017-03-17 04:03] webinista commented on #312
Old enough that it's probably irrelevant. Closing.

[2017-03-17 04:03] #312 closed

[2017-03-17 04:04] webinista commented on #311
Old enough that it's probably irrelevant. Closing.

[2017-03-17 04:04] #311 closed

[2017-03-17 04:04] webinista commented on #310
Old enough that it's probably irrelevant. Closing.

[2017-03-17 04:04] #310 closed

[2017-03-17 04:04] webinista commented on #309
Old enough that it's probably irrelevant. Closing.

[2017-03-17 04:04] #309 closed

[2017-03-17 04:04] webinista commented on #308
Old enough that it's probably irrelevant. Closing.

[2017-03-17 04:04] #308 closed

[2017-03-17 04:04] webinista commented on #307
Old enough that it's probably irrelevant. Closing.

[2017-03-17 04:04] #307 closed

[2017-03-17 04:04] webinista commented on #306
Old enough that it's probably irrelevant. Closing.

[2017-03-17 04:04] #306 closed

[2017-03-17 04:04] webinista commented on #305
Old enough that it's probably irrelevant. Closing.

[2017-03-17 04:04] #305 closed

[2017-04-04 14:28] gnakm commented on #135
^ so just for the record, I was trying something out...

I am closing this issue because we made so many iterations after this. This is super outdated.

[2017-04-04 14:28] #135 closed

[2017-04-28 02:30] koconnor719 commented on #287
old; closing

[2017-04-28 02:30] #287 closed

[2017-04-28 02:37] koconnor719 commented on #238
closing; old and julie now doing.

[2017-04-28 02:37] #238 closed

[2017-07-12 18:11] #158 closed

[2017-08-03 21:31] jkassemi commented on #372
These were addressed in containerizing the build process and moving to electron.

[2017-08-03 21:31] #372 closed